@import "variables.less";

html, body, #content {
  overflow: hidden;
}

table.outer-table {
  width: 100%;
  height: 100%;

  td {
    vertical-align: top;
  }
  th.caption {
    height: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: @ui-dark;
    color: @ui-white;
    font-weight: bold;
  }

  .left-col {
    width: @left-pane-size;
    background-color: @ui-dark;

    div.app {
      width: @left-pane-size;
      height: @left-pane-size;
      cursor: pointer;
      position: relative;
      color: @ui-light;
      margin-bottom: 30px;
      .icon {
        line-height: 1;
        text-align: center;
        font-size: 90px;
        font-weight: 900;
      }
      .label {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
        height: 15px;
      }

      &:hover {
        background-color: lighten(@ui-dark, 10%);
      }

      &.active, &.active:hover {
        background-color: darken(@ui-dark, 10%);
      }
    }
  }
  .bottom-cell {
    background-color: @ui-dark;
    vertical-align: bottom;
    .btn-back {
      display: block;
      font-size: 12px;
      font-weight: bold;
      color: @ui-white;
      text-align: center;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

table.app-content {
  width: 100%;
  height: 100%;

  .side-panel {
    width: 350px;
    background-color: @ui-light;
    overflow: hidden;
    .scroller {
      height: 100%;
      overflow-x: auto;
    }
    .block {
      margin-bottom: 10px;
    }
    .level-1 {
      font-weight: bold;
      padding: 5px 10px;
      cursor: pointer;
    }
    .level-2 {
      padding: 2px 5px 3px 30px;
      cursor: pointer;
      &.new-ic {
        margin-top: 10px;
        font-style: italic;
      }
    }
    .level-1, .level-2 {
      &:hover {
        background-color: lighten(@ui-medium, 10%) !important;
      }
      &.grey {
        color: #999;
      }
      &.active {
        background-color: @ui-contrast;
      }
    }
  }

  .app-page {
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
  }
}

div.load-competition-page {
  width: 100%;
  height: 100%;
  form.load-competition {
    height: calc(~'100% - 60px');
    text-align: center;
    textarea {
      width: 100%;
      height: calc(~'100% - 60px');
      margin-bottom: 10px;
    }
    button {
      width: 200px;
    }
  }
}

.ic-management-ui {
  padding: 10px;
  .tour {
    background-color: @ui-light;
    padding: 10px 10px 10px 10px;
    h3 {
      margin-top: 0;
    }
    &.tour-create {
      background-color: @brand-warning;
    }
    .buttons {
      padding-top: 10px;
      text-align: center;
    }
  }
}

.manage-clubs, .manage-disciplines {
  .city {
    width: 25%;
  }
  .external-id {
    width: 20%;
  }
  .buttons {
    padding-top: 16px;
  }
}

.manage-judges {
  .role-description {
    width: 20%;;
  }
  .category {
    width: 10%;
  }
  .role {
    width: 25%;
  }
  .buttons {
    padding-top: 17px;
  }
}

.manage-judges, .manage-clubs {
  .buttons {
    button {
      width: 50%;
    }
  }
}

.manage-disciplines {
  .judge {
    margin: 0 !important;
    width: 55%;
  }
  .judge-role {
    margin: 0 !important;
    width: 40%;
  }
  .buttons {
    padding: 0;
    button {
      width: 100%;
    }
  }
}

.manage-judges, .manage-clubs, .manage-disciplines {
  padding: 10px;
  table {
    tr.viewer {
      cursor: pointer;
      .delete {
        width: 50px;
        text-align: center;
        button {
          padding: 0 7px;
        }
      }
    }
    tr.editor {
      &.create {
        background-color: @brand-warning;
      }
      padding: 15px;
      background-color: @ui-light;
      input, select {
        height: 25px;
        &, button {
          vertical-align: middle;
        }
        border: 1px solid #ccc;
      }
      input {
        padding-left: 5px;
        padding-right: 5px;
      }
      input, select {
        font-weight: normal;
      }
      .del {
        width: 5%;
        padding: 0;
        margin: 0;
        height: 24px;
        font-weight: bold;
      }
      input, select {
        margin-bottom: 10px;
      }
    }
  }
}

.service-menu {
  padding: 10px;
  .control-btn {
    width: 300px;
    margin-right: 10px;
  }
  .unfinalization {
    select {
      max-width: 500px;
      display: inline;
    }
  }
}