@import "variables.less";

html, body, #content {
    height: 100%;
    overflow: hidden;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

// Structure

.wrapper {
    .flex-col;
    width: 100%;
    height: 100%;
    .header {
        .flex-row;
        height: 30px;
        flex-shrink: 0;
        .caption {
            flex-grow: 1;
            line-height: 30px;
        }
    }
    .body {
        min-height: 0px;
        .flex-row;
        flex-grow: 1;
        .left-col {
            .flex-col;
            flex-shrink: 0;
            width: @left-pane-size;
            .button {
                width: @left-pane-size;
                height: @left-pane-size;
                position: relative;
                margin-bottom: 30px;
                .icon {
                    line-height: 1;
                    height: 100px;
                }
                .label {
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    right: 0;
                    height: 15px;
                }
            }
            .spacer {
                flex-grow: 1;
            }
        }
        .app {
            .flex-row;
            flex-grow: 1;
            .side-menu {
                width: 350px;
                min-width: 350px;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                .block {
                    margin-bottom: 10px;
                }
                .level-1 {
                    padding: 5px 10px;
                }
                .level-2 {
                    padding: 2px 5px 3px 30px;
                }
            }
            .app-content {
                .flex-col;
                flex-grow: 1;
                .app-header {
                    min-height: 50px;
                    flex-shrink: 0;
                }
                .app-body {
                    overflow-y: auto;
                    flex-grow: 1;
                }
                iframe {
                    width: 100%;
                    flex-grow: 1;
                    margin: 0;
                }
            }
        }
    }
}

// Styling

.wrapper {
    .header {
        .caption {
            text-align: center;
            background-color: @ui-dark;
            color: @ui-white;
            font-weight: bold;
        }
    }
    .body {
        .left-col {
            background-color: @ui-dark;
            .button {
                color: @ui-light;
                cursor: pointer;
                .icon {
                    line-height: 1;
                    text-align: center;
                    font-size: 90px;
                    font-weight: 900;
                }
                .label {
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                }
                &:hover {
                    background-color: lighten(@ui-dark, 10%);
                }
                &.active, &.active:hover {
                    background-color: darken(@ui-dark, 10%);
                }
            }
            .bottom-cell {
                background-color: @ui-dark;
                border: none;
                .btn-back {
                    font-size: 12px;
                    font-weight: bold;
                    color: @ui-white;
                    text-align: center;
                    text-decoration: none;
                    display: block;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .app {
            .flex-row;
            background-color: @ui-white;
            .side-menu {
                background-color: @ui-light;
                .level-1 {
                    font-weight: bold;
                    cursor: pointer;
                }
                .level-2 {
                    cursor: pointer;
                }
                .level-1, .level-2 {
                    &:hover {
                        background-color: lighten(@ui-medium, 10%) !important;
                    }
                    &.grey {
                        color: #999;
                    }
                    &.active {
                        background-color: @ui-contrast;
                    }
                }
            }
            .app-content {
                iframe {
                    border: none;
                }
            }
        }
    }
}

div.load-competition-page {
    form.load-competition {
        text-align: center;
        .flex-col;
        textarea {
            flex-grow: 1;
            margin: 10px;
            font-family: "Lucida Console", monospace
        }
        button {
            align-self: center;
            width: 200px;
            margin: 0 10px 10px;
        }
    }
}

.ic-management-ui {
    padding: 10px;
    .tour {
        background-color: @ui-light;
        padding: 10px 10px 10px 10px;
        label {
            font-size: 12px;
        }
        h3 {
            margin-top: 0;
        }
        &.tour-create {
            background-color: @brand-warning;
        }
        .buttons {
            padding-top: 10px;
            text-align: center;
        }
    }
}

.manage-clubs, .manage-disciplines {
    .city {
        width: 25%;
    }
    .external-id {
        width: 20%;
    }
    .buttons {
        padding-top: 16px;
    }
}

.manage-judges {
    .role-description {
        width: 30%;;
    }
}

.manage-competition-plan, .manage-judges {
    .buttons {
        padding-top: 17px;
    }
}

.manage-competition-plan, .manage-judges, .manage-clubs {
    .buttons {
        button {
            width: 50%;
        }
    }
}

.manage-disciplines {
    .judge {
        margin: 0 !important;
        width: 55%;
    }
    .judge-role {
        margin: 0 !important;
        width: 40%;
    }
    .buttons {
        padding: 0;
        button {
            width: 100%;
        }
    }
}

.manage-competition-plan {
    .error {
        color: #c00;
        font-weight: bold;
        font-style: italic;
    }
}

.manage-competition-plan, .manage-judges, .manage-clubs, .manage-disciplines {
    padding: 10px;
    table {
        tr.viewer {
            cursor: pointer;
            .delete {
                width: 50px;
                text-align: center;
                button {
                    padding: 0 7px;
                }
            }
        }
        tr.editor {
            &.create {
                background-color: @brand-warning;
            }
            padding: 15px;
            background-color: @ui-light;
            input, select {
                height: 25px;
                &, button {
                    vertical-align: middle;
                }
                border: 1px solid #ccc;
            }
            input {
                padding-left: 5px;
                padding-right: 5px;
            }
            input, select {
                font-weight: normal;
            }
            .del {
                width: 5%;
                padding: 0;
                margin: 0;
                height: 24px;
                font-weight: bold;
            }
            input, select {
                margin-bottom: 10px;
            }
        }
    }
}

.competition-schema {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    div {
        flex-grow: 1;
    }
    button {
        min-height: 30px;
        flex-shrink: 1;
    }
}

.service-menu {
    padding: 10px;
    .control-btn {
        width: 300px;
        margin-right: 10px;
    }
    .unfinalization {
        select {
            max-width: 500px;
            display: inline;
        }
    }
}
