@import "variables.less";

.competition-report {
  font-size: 10pt;
  .info, .judges, .clubs {
    width: 100%;
    td, th {
      padding: 0px 20px 0px 0px;
    }
  }
}

table.sportsmen {
  width: 100%;
}
