@import "variables.less";

.discipline-results {
  td {
    vertical-align: top;
  }
  td, th {
    padding: 1px 3px;
  }
  .bordered-table {
    width: 100%;
    font-size: 10pt;
    table td {
      border: none;
      padding: 0;
      text-align: left;
    }
    table th {
      border: none;
      padding: 0;
      text-align: left;
    }
    td.name, td.club, td.coaches {
      text-align: left !important;
    }
    table.sportsmen {
      width: 100%;
    }
    .tour-name {
      font-weight: bold;
      background-color: #ccc;
    }
  }
}