@import "variables.less";

html, body {
  overflow-x: hidden;
}

h5 {
  font-weight: bold;
}

.manage-participants {
  margin: 10px;
  .total-participants {
    font-weight: bold;
    text-align: right;
    margin-bottom: 40px;
  }
  .program {
    tr:nth-child(2n+1) {
      background-color: lighten(@ui-light, 10%);
    }
    td {
      padding: 5px;
    }
  }
  .program-creator {
    margin-top: 10px;
  }
  .program-editor {
    padding: 10px;
    background-color: lighten(@ui-light, 10%);
    margin-bottom: 10px;
    &.create {
      background-color: @brand-warning;
    }
    .name {
      font-weight: bold;
      margin-bottom: 10px;
      width: 80%;
    }
    .default-for {
      width: 20%;
      margin-bottom: 10px;
      font-style: italic;
    }
    .elements {
      margin-bottom: 10px;
    }
  }
  table {
    .number {
      width: 100px;
      text-align: center;
    }
    .acrobatics {
      width: 100px;
    }
    tr.viewer {
      cursor: pointer;
      .delete {
        width: 50px;
        text-align: center;
        button {
          padding: 0 7px;
        }
      }
    }
    tr.editor {
      &.create {
        background-color: @brand-warning;
      }
      padding: 15px;
      background-color: @ui-light;
      input, select {
        height: 25px;
        &, button {
          vertical-align: middle;
        }
        border: 1px solid #ccc;
      }
      input {
        padding-left: 5px;
        padding-right: 5px;
      }
      .sportsman {
        .first-name, .last-name {
          width: 29.5%;
        }
        .yob, .gender, .substitute {
          width: 12%;
        }
      }
      .acrobatic {
        .description {
          width: 85%;
        }
        .score {
          text-align: right;
          width: 10%;
        }
      }
      .del {
        width: 5%;
        padding: 0;
        margin: 0;
        height: 24px;
        font-weight: bold;
      }
      .general-info {
        .buttons {
          button {
            width: 50%;
          }
        }
        input, select {
          margin-bottom: 10px;
        }
      }
    }
  }
}
