@import "variables.less";

.start-list {
  padding: 10px;
  h2 {
    text-align: center;
  }
  .inner-competition {
    table {
      .number       { width: 50px;  }
      .name         { width: 325px;  }
      .club         { width: 300px; }
      .coaches      { width: 150px; }
      td.name, td.club, td.coaches {
        text-align: left !important;
      }
      td, th {
        border: 2px solid black;
        padding: 2px 5px;
        vertical-align: top;
      }
    }
  }
}
