@import "variables.less";

.start-screen {
  padding: 20px;
  .btn-default:hover {
    background-color: @btn-default-bg;
    border-color: @btn-default-border;
  }
  h3 {
    text-align: center;
  }
  .role-selector {
    h3 {
      padding-bottom: 20px;
    }
  }
  .competition-selector {
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    .list {
      width: 100%;
      .button {
        cursor: pointer;
        background-color: @ui-dark;
        color: @ui-white;
        font-size: 18px;
        text-align: center;
        margin: 20px 0;
        padding: 15px;
      }
    }
  }
  .no-competitions {
    margin: 200px auto;
    text-align: center;
  }
  .mbtn, .mbtn:hover {
    background-color: @ui-dark;
    color: @ui-white;
    display: block;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 5px;
    margin: 5px;
    text-align: center;
    .title {
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
    }
    &.no-title {
      padding: 20px 5px;
      font-weight: bold;
    }
  }

  .group {
    margin-top: 20px;
  }
}
