@import "variables.less";

.tour-results {
  width: 100%;
  font-size: 9pt;
  .brief-table {
    font-size: 12pt;
  }
  td {
    vertical-align: top;
  }
  td, th {
    padding: 1px 3px;
  }
  .info-block {
    text-align: left;
    .acro-table {
      width: 100%;
      td {
        border: 1px solid black;
      }
    }
  }
  .score-breakdown {
    th, td {
      border: none;
      padding: 0 3px;
    }
    th {
      text-align: right;
    }
    td {
      text-align: left;
    }
    .total-score {
      font-weight: bold;
    }
  }
  .bordered-table {
    width: 100%;
    td.participant, td.club {
      text-align: left !important;
    }
    .advances-header {
      background-color: #ccc;
      font-weight: bold;
      text-align: left;
    }
  }
}
