html,
body,
#content {
  overflow: hidden;
}
table.outer-table {
  width: 100%;
  height: 100%;
}
table.outer-table td {
  vertical-align: top;
}
table.outer-table th.caption {
  height: 30px;
  vertical-align: middle;
  text-align: center;
  background-color: #2b3a42;
  color: #efefef;
  font-weight: bold;
}
table.outer-table .left-col {
  width: 100px;
  background-color: #2b3a42;
}
table.outer-table .left-col div.app {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  color: #bdd4de;
  margin-bottom: 30px;
}
table.outer-table .left-col div.app .icon {
  line-height: 1;
  text-align: center;
  font-size: 90px;
  font-weight: 900;
}
table.outer-table .left-col div.app .label {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  height: 15px;
}
table.outer-table .left-col div.app:hover {
  background-color: #3f5561;
}
table.outer-table .left-col div.app.active,
table.outer-table .left-col div.app.active:hover {
  background-color: #171f23;
}
table.app-content {
  width: 100%;
  height: 100%;
}
table.app-content .side-panel {
  width: 350px;
  background-color: #bdd4de;
  overflow: hidden;
}
table.app-content .side-panel .scroller {
  height: 100%;
  overflow-x: auto;
}
table.app-content .side-panel .block {
  margin-bottom: 10px;
}
table.app-content .side-panel .level-1 {
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}
table.app-content .side-panel .level-2 {
  padding: 2px 5px 3px 30px;
  cursor: pointer;
}
table.app-content .side-panel .level-2.new-ic {
  margin-top: 10px;
  font-style: italic;
}
table.app-content .side-panel .level-1:hover,
table.app-content .side-panel .level-2:hover {
  background-color: #537284 !important;
}
table.app-content .side-panel .level-1.grey,
table.app-content .side-panel .level-2.grey {
  color: #999;
}
table.app-content .side-panel .level-1.active,
table.app-content .side-panel .level-2.active {
  background-color: #ff530d;
}
table.app-content .app-page {
  overflow: auto;
  width: 100%;
  height: 100%;
}
table.app-content iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
}
div.load-competition-page {
  width: 100%;
  height: 100%;
}
div.load-competition-page form.load-competition {
  height: calc(100% - 60px);
  text-align: center;
}
div.load-competition-page form.load-competition textarea {
  width: 100%;
  height: calc(100% - 60px);
  margin-bottom: 10px;
}
div.load-competition-page form.load-competition button {
  width: 200px;
}
.ic-management-ui {
  padding: 10px;
}
.ic-management-ui .tour {
  background-color: #bdd4de;
  padding: 10px 10px 10px 10px;
}
.ic-management-ui .tour h3 {
  margin-top: 0;
}
.ic-management-ui .tour.tour-create {
  background-color: #f0ad4e;
}
.ic-management-ui .tour .buttons {
  padding-top: 10px;
  text-align: center;
}
.manage-clubs .city {
  width: 25%;
}
.manage-clubs .external-id {
  width: 20%;
}
.manage-clubs .buttons {
  padding-top: 16px;
}
.manage-judges .role-description {
  width: 20%;
}
.manage-judges .category {
  width: 10%;
}
.manage-judges .role {
  width: 25%;
}
.manage-judges .buttons {
  padding-top: 21px;
}
.manage-judges,
.manage-clubs {
  padding: 10px;
}
.manage-judges table tr.viewer,
.manage-clubs table tr.viewer {
  cursor: pointer;
}
.manage-judges table tr.viewer .delete,
.manage-clubs table tr.viewer .delete {
  width: 50px;
  text-align: center;
}
.manage-judges table tr.viewer .delete button,
.manage-clubs table tr.viewer .delete button {
  padding: 0 7px;
}
.manage-judges table tr.editor,
.manage-clubs table tr.editor {
  padding: 15px;
  background-color: #bdd4de;
}
.manage-judges table tr.editor.create,
.manage-clubs table tr.editor.create {
  background-color: #f0ad4e;
}
.manage-judges table tr.editor input,
.manage-clubs table tr.editor input,
.manage-judges table tr.editor select,
.manage-clubs table tr.editor select {
  height: 25px;
  border: 1px solid #ccc;
}
.manage-judges table tr.editor input,
.manage-clubs table tr.editor input,
.manage-judges table tr.editor select,
.manage-clubs table tr.editor select,
.manage-judges table tr.editor input button,
.manage-clubs table tr.editor input button,
.manage-judges table tr.editor select button,
.manage-clubs table tr.editor select button {
  vertical-align: middle;
}
.manage-judges table tr.editor input,
.manage-clubs table tr.editor input {
  padding-left: 5px;
  padding-right: 5px;
}
.manage-judges table tr.editor input,
.manage-clubs table tr.editor input,
.manage-judges table tr.editor select,
.manage-clubs table tr.editor select {
  font-weight: normal;
}
.manage-judges table tr.editor .del,
.manage-clubs table tr.editor .del {
  width: 5%;
  padding: 0;
  margin: 0;
  height: 24px;
  font-weight: bold;
}
.manage-judges table tr.editor .buttons button,
.manage-clubs table tr.editor .buttons button {
  width: 50%;
}
.manage-judges table tr.editor input,
.manage-clubs table tr.editor input,
.manage-judges table tr.editor select,
.manage-clubs table tr.editor select {
  margin-bottom: 10px;
}
.service-menu {
  padding: 10px;
}
.service-menu .control-btn {
  width: 300px;
  margin-right: 10px;
}
.service-menu .unfinalization select {
  max-width: 500px;
  display: inline;
}
