html,
body,
#content {
  height: 100%;
  overflow: hidden;
}
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 100%;
}
.wrapper .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 30px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.wrapper .header .caption {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 30px;
}
.wrapper .body {
  min-height: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.wrapper .body .left-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100px;
}
.wrapper .body .left-col .button {
  width: 100px;
  height: 100px;
  position: relative;
  margin-bottom: 30px;
}
.wrapper .body .left-col .button .icon {
  line-height: 1;
  height: 100px;
}
.wrapper .body .left-col .button .label {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  height: 15px;
}
.wrapper .body .left-col .spacer {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.wrapper .body .app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.wrapper .body .app .side-menu {
  width: 350px;
  min-width: 350px;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .body .app .side-menu .block {
  margin-bottom: 10px;
}
.wrapper .body .app .side-menu .level-1 {
  padding: 5px 10px;
}
.wrapper .body .app .side-menu .level-2 {
  padding: 2px 5px 3px 30px;
}
.wrapper .body .app .app-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.wrapper .body .app .app-content .app-header {
  min-height: 50px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.wrapper .body .app .app-content .app-body {
  overflow-y: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.wrapper .body .app .app-content iframe {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
}
.wrapper .header .caption {
  text-align: center;
  background-color: #2b3a42;
  color: #efefef;
  font-weight: bold;
}
.wrapper .body .left-col {
  background-color: #2b3a42;
}
.wrapper .body .left-col .button {
  color: #bdd4de;
  cursor: pointer;
}
.wrapper .body .left-col .button .icon {
  line-height: 1;
  text-align: center;
  font-size: 90px;
  font-weight: 900;
}
.wrapper .body .left-col .button .label {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.wrapper .body .left-col .button:hover {
  background-color: #3f5561;
}
.wrapper .body .left-col .button.active,
.wrapper .body .left-col .button.active:hover {
  background-color: #171f23;
}
.wrapper .body .left-col .bottom-cell {
  background-color: #2b3a42;
  border: none;
}
.wrapper .body .left-col .bottom-cell .btn-back {
  font-size: 12px;
  font-weight: bold;
  color: #efefef;
  text-align: center;
  text-decoration: none;
  display: block;
}
.wrapper .body .left-col .bottom-cell .btn-back:hover {
  text-decoration: underline;
}
.wrapper .body .app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #efefef;
}
.wrapper .body .app .side-menu {
  background-color: #bdd4de;
}
.wrapper .body .app .side-menu .level-1 {
  font-weight: bold;
  cursor: pointer;
}
.wrapper .body .app .side-menu .level-2 {
  cursor: pointer;
}
.wrapper .body .app .side-menu .level-1:hover,
.wrapper .body .app .side-menu .level-2:hover {
  background-color: #537284 !important;
}
.wrapper .body .app .side-menu .level-1.grey,
.wrapper .body .app .side-menu .level-2.grey {
  color: #999;
}
.wrapper .body .app .side-menu .level-1.active,
.wrapper .body .app .side-menu .level-2.active {
  background-color: #ff530d;
}
.wrapper .body .app .app-content iframe {
  border: none;
}
div.import-export {
  padding: 10px;
}
div.import-export label {
  cursor: pointer;
  width: 500px;
  margin-right: 5px;
  background-color: #bdd4de;
  padding: 6px 12px;
  line-height: 22px;
  position: relative;
  white-space: pre;
  overflow: hidden;
}
div.import-export label div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  background-color: #2b3a42;
  color: #efefef;
}
div.import-export label div span {
  display: block;
}
div.import-export label input {
  margin-bottom: 10px;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  left: -10000px;
}
.ic-management-ui {
  padding: 10px;
}
.ic-management-ui .tour {
  background-color: #bdd4de;
  padding: 10px 10px 10px 10px;
}
.ic-management-ui .tour label {
  font-size: 12px;
}
.ic-management-ui .tour h3 {
  margin-top: 0;
}
.ic-management-ui .tour.tour-create {
  background-color: #f0ad4e;
}
.ic-management-ui .tour .buttons {
  padding-top: 10px;
  text-align: center;
}
.manage-clubs .city,
.manage-disciplines .city {
  width: 25%;
}
.manage-clubs .external-id,
.manage-disciplines .external-id {
  width: 20%;
}
.manage-clubs .buttons,
.manage-disciplines .buttons {
  padding-top: 16px;
}
.manage-judges .role-description {
  width: 30%;
}
.manage-competition-plan .buttons,
.manage-judges .buttons {
  padding-top: 17px;
}
.manage-competition-plan .buttons button,
.manage-judges .buttons button,
.manage-clubs .buttons button {
  width: 50%;
}
.manage-disciplines .judge {
  margin: 0 !important;
  width: 55%;
}
.manage-disciplines .judge-role {
  margin: 0 !important;
  width: 40%;
}
.manage-disciplines .buttons {
  padding: 0;
}
.manage-disciplines .buttons button {
  width: 100%;
}
.manage-competition-plan .error {
  color: #c00;
  font-weight: bold;
  font-style: italic;
}
.manage-competition-plan,
.manage-judges,
.manage-clubs,
.manage-disciplines {
  padding: 10px;
}
.manage-competition-plan table tr.viewer,
.manage-judges table tr.viewer,
.manage-clubs table tr.viewer,
.manage-disciplines table tr.viewer {
  cursor: pointer;
}
.manage-competition-plan table tr.viewer .delete,
.manage-judges table tr.viewer .delete,
.manage-clubs table tr.viewer .delete,
.manage-disciplines table tr.viewer .delete {
  width: 50px;
  text-align: center;
}
.manage-competition-plan table tr.viewer .delete button,
.manage-judges table tr.viewer .delete button,
.manage-clubs table tr.viewer .delete button,
.manage-disciplines table tr.viewer .delete button {
  padding: 0 7px;
}
.manage-competition-plan table tr.editor,
.manage-judges table tr.editor,
.manage-clubs table tr.editor,
.manage-disciplines table tr.editor {
  padding: 15px;
  background-color: #bdd4de;
}
.manage-competition-plan table tr.editor.create,
.manage-judges table tr.editor.create,
.manage-clubs table tr.editor.create,
.manage-disciplines table tr.editor.create {
  background-color: #f0ad4e;
}
.manage-competition-plan table tr.editor input,
.manage-judges table tr.editor input,
.manage-clubs table tr.editor input,
.manage-disciplines table tr.editor input,
.manage-competition-plan table tr.editor select,
.manage-judges table tr.editor select,
.manage-clubs table tr.editor select,
.manage-disciplines table tr.editor select {
  height: 25px;
  border: 1px solid #ccc;
}
.manage-competition-plan table tr.editor input,
.manage-judges table tr.editor input,
.manage-clubs table tr.editor input,
.manage-disciplines table tr.editor input,
.manage-competition-plan table tr.editor select,
.manage-judges table tr.editor select,
.manage-clubs table tr.editor select,
.manage-disciplines table tr.editor select,
.manage-competition-plan table tr.editor input button,
.manage-judges table tr.editor input button,
.manage-clubs table tr.editor input button,
.manage-disciplines table tr.editor input button,
.manage-competition-plan table tr.editor select button,
.manage-judges table tr.editor select button,
.manage-clubs table tr.editor select button,
.manage-disciplines table tr.editor select button {
  vertical-align: middle;
}
.manage-competition-plan table tr.editor input,
.manage-judges table tr.editor input,
.manage-clubs table tr.editor input,
.manage-disciplines table tr.editor input {
  padding-left: 5px;
  padding-right: 5px;
}
.manage-competition-plan table tr.editor input,
.manage-judges table tr.editor input,
.manage-clubs table tr.editor input,
.manage-disciplines table tr.editor input,
.manage-competition-plan table tr.editor select,
.manage-judges table tr.editor select,
.manage-clubs table tr.editor select,
.manage-disciplines table tr.editor select {
  font-weight: normal;
}
.manage-competition-plan table tr.editor .del,
.manage-judges table tr.editor .del,
.manage-clubs table tr.editor .del,
.manage-disciplines table tr.editor .del {
  width: 5%;
  padding: 0;
  margin: 0;
  height: 24px;
  font-weight: bold;
}
.manage-competition-plan table tr.editor input,
.manage-judges table tr.editor input,
.manage-clubs table tr.editor input,
.manage-disciplines table tr.editor input,
.manage-competition-plan table tr.editor select,
.manage-judges table tr.editor select,
.manage-clubs table tr.editor select,
.manage-disciplines table tr.editor select {
  margin-bottom: 10px;
}
.competition-schema {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.competition-schema div {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.competition-schema button {
  min-height: 30px;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.service-menu {
  padding: 10px;
}
.service-menu .control-btn {
  width: 300px;
  margin-right: 10px;
}
.service-menu .unfinalization select {
  max-width: 500px;
  display: inline;
}
.service-menu p {
  margin-bottom: 10px;
}
