.competition-report {
  padding: 10px;
}
.competition-report h2 {
  text-align: center;
}
.competition-report .info td,
.competition-report .judges td,
.competition-report .clubs td,
.competition-report .info th,
.competition-report .judges th,
.competition-report .clubs th {
  padding: 2px 20px 2px 0px;
}
