.competition-report {
  font-size: 10pt;
}
.competition-report .controls {
  width: 595pt;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px auto;
  padding: 10px;
  background-color: #3f5765;
  color: #efefef;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.competition-report .controls a {
  color: #efefef;
  text-decoration: underline;
}
.competition-report .switch input {
  margin: 0 10px 0 0;
}
.competition-report .switch span,
.competition-report .switch input {
  vertical-align: middle;
}
.competition-report .info,
.competition-report .judges,
.competition-report .clubs {
  width: 100%;
}
.competition-report .info td,
.competition-report .judges td,
.competition-report .clubs td,
.competition-report .info th,
.competition-report .judges th,
.competition-report .clubs th {
  padding: 0px 20px 0px 0px;
}
table.sportsmen {
  width: 100%;
}
