@ui-black: #1C1D21;
@ui-white: #EFEFEF;
@ui-light: #BDD4DE;
@ui-medium: #3F5765;
@ui-dark: #2B3A42;
@ui-contrast: #FF530D;

@left-pane-size: 100px;

html, body, #content {
  height: 100%;
  background-color: @ui-white;
  font-family: Roboto, Arial, sans-serif;
  overflow: hidden;
}

table.outer-table {
  width: 100%;
  height: 100%;

  td {
    vertical-align: top;
  }
  th {
    height: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: @ui-dark;
    color: @ui-light;
    font-weight: bold;
  }

  .left-col {
    width: @left-pane-size;
    background-color: @ui-dark;

    div.app {
      width: @left-pane-size;
      height: @left-pane-size;
      cursor: pointer;
      position: relative;
      color: @ui-light;
      margin-bottom: 30px;
      .icon {
        text-align: center;
        font-size: 90px;
        font-weight: 900;
      }
      .label {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
        height: 15px;
      }

      &:hover {
        background-color: lighten(@ui-dark, 10%);
      }

      &.active, &.active:hover {
        background-color: darken(@ui-dark, 10%);
      }
    }
  }
}

table.app-content {
  width: 100%;
  height: 100%;

  .side-panel {
    width: 350px;
    background-color: @ui-light;

    .block {
      margin-bottom: 10px;
    }
    .level-1 {
      font-weight: bold;
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        background-color: @ui-medium !important;
      }
    }
    .level-2 {
      padding: 2px 5px 3px 30px;
      cursor: pointer;
    }
    .level-1, .level-2 {
      &:hover {
        background-color: @ui-medium !important;
      }
      &.grey {
        color: #999;
      }
      &.active {
        background-color: @ui-contrast;
      }
    }
  }

  .judging-frame {
    width: 100%;
    height: 100%;
  }
}

div.load-competition-page {
  width: 100%;
  height: 100%;
  form.load-competition {
    height: calc(~'100% - 60px');
    text-align: center;
    textarea {
      width: 100%;
      height: calc(~'100% - 60px');
      margin-bottom: 10px;
    }
    button {
      width: 200px;
    }
  }
}

header {
  background-color: @ui-medium;
  padding: 10px;
  h1 {
    color: @ui-white;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 3px;
  }
  h2 {
    color: @ui-white;
    font-size: 14px;
    font-weight: 500;
  }
  .controls {
    float: right;
    text-align: right;
    .current-heat {
      color: @ui-white;
      font-size: 12px;
      font-weight: 500;
    }
    button {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

.table {
  td, th {
    border: 2px solid @ui-dark;
    padding: 2px 5px;
  }
  th {
    font-weight: bold;
  }
  th, td {
    text-align: center;
  }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.full-width {
  width: 100%;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ic-management-ui {
  padding: 10px;
  box-sizing: border-box;
  .tour {
    display: inline-block;
    vertical-align: middle;
    background-color: @ui-light;
    width: 250px;
    padding: 10px;
    line-height: 20px;
    margin: 10px;
    &.tour-create {
      background-color: #ffc;
      margin: 5px;
    }
    .title {
      font-weight: bold;
    }
    h3 {
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 20px;
    }
    .buttons {
      padding-top: 10px;
      text-align: center;
    }
  }
}