html,
body {
  overflow-x: hidden;
}
.manage-participants {
  margin: 10px;
}
.manage-participants .total-participants {
  font-weight: bold;
  text-align: right;
}
.manage-participants table .number {
  width: 100px;
  text-align: center;
}
.manage-participants table tr.viewer {
  cursor: pointer;
}
.manage-participants table tr.viewer .delete {
  width: 50px;
  text-align: center;
}
.manage-participants table tr.viewer .delete button {
  padding: 0 7px;
}
.manage-participants table tr.editor {
  padding: 15px;
  background-color: #bdd4de;
}
.manage-participants table tr.editor.create {
  background-color: #f0ad4e;
}
.manage-participants table tr.editor input,
.manage-participants table tr.editor select {
  height: 25px;
  border: 1px solid #ccc;
}
.manage-participants table tr.editor input,
.manage-participants table tr.editor select,
.manage-participants table tr.editor input button,
.manage-participants table tr.editor select button {
  vertical-align: middle;
}
.manage-participants table tr.editor input {
  padding-left: 5px;
  padding-right: 5px;
}
.manage-participants table tr.editor .sportsman .first-name,
.manage-participants table tr.editor .sportsman .last-name {
  width: 32.5%;
}
.manage-participants table tr.editor .sportsman .yob,
.manage-participants table tr.editor .sportsman .gender {
  width: 15%;
}
.manage-participants table tr.editor .acrobatic .description {
  width: 85%;
}
.manage-participants table tr.editor .acrobatic .score {
  text-align: right;
  width: 10%;
}
.manage-participants table tr.editor .del {
  width: 5%;
  padding: 0;
  margin: 0;
  height: 24px;
  font-weight: bold;
}
.manage-participants table tr.editor .general-info .buttons button {
  width: 50%;
}
.manage-participants table tr.editor .general-info input,
.manage-participants table tr.editor .general-info select {
  margin-bottom: 10px;
}
