html,
body {
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.presenter-tablet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  width: 100%;
  height: 100%;
}
.presenter-tablet .left-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 40px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background-color: #2b3a42;
}
.presenter-tablet .left-bar .item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: bold;
  color: #efefef;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  overflow: visible;
  position: relative;
}
.presenter-tablet .left-bar .item.active {
  background-color: #3f5765;
}
.presenter-tablet .left-bar .item span {
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg) translate(-50%, 0);
      -ms-transform: rotate(-90deg) translate(-50%, 0);
          transform: rotate(-90deg) translate(-50%, 0);
  width: 150px;
  text-align: center;
  line-height: 40px;
  display: block;
  position: absolute;
  top: 50%;
}
.presenter-tablet .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 18px;
}
.presenter-tablet .content .info {
  padding: 20px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.presenter-tablet .content .info h2 {
  text-align: center;
}
.presenter-tablet .content .info .competition-info,
.presenter-tablet .content .info .judges {
  width: 100%;
}
.presenter-tablet .content .info .competition-info tr:nth-child(2n+1),
.presenter-tablet .content .info .judges tr:nth-child(2n+1) {
  background-color: #fff;
}
.presenter-tablet .content .info .competition-info tr:nth-child(2n),
.presenter-tablet .content .info .judges tr:nth-child(2n) {
  background-color: #ddd;
}
.presenter-tablet .content .info .competition-info th,
.presenter-tablet .content .info .judges th {
  text-align: left;
  width: 350px;
}
.presenter-tablet .content .info .competition-info th,
.presenter-tablet .content .info .judges th,
.presenter-tablet .content .info .competition-info td,
.presenter-tablet .content .info .judges td {
  padding: 2px 5px;
}
.presenter-tablet .content .plan {
  padding: 20px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.presenter-tablet .content .plan table {
  width: 100%;
}
.presenter-tablet .content .plan table tr:nth-child(2n+1) {
  background-color: #fff;
}
.presenter-tablet .content .plan table tr:nth-child(2n) {
  background-color: #ddd;
}
.presenter-tablet .content .plan table tr.finalized {
  color: #666;
  font-style: italic;
}
.presenter-tablet .content .plan table tr.active {
  background-color: #559955;
  color: #fff;
  font-weight: bold;
}
.presenter-tablet .content .plan table .estimated-beginning {
  width: 100px;
  text-align: center;
}
.presenter-tablet .content .plan table .estimated-duration {
  width: 125px;
  text-align: center;
}
.presenter-tablet .content .plan table td.verbose-name {
  font-weight: bold;
  font-style: italic;
}
.presenter-tablet .content .plan table th,
.presenter-tablet .content .plan table td {
  padding: 2px 5px;
}
.presenter-tablet .content .heats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.presenter-tablet .content .heats .splash-screen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.presenter-tablet .content .heats .splash-screen .spacer {
  height: 50px;
}
.presenter-tablet .content .heats header {
  text-align: center;
}
.presenter-tablet .content .heats header .header {
  margin: 0 100px;
}
.presenter-tablet .content .heats header .header h1 {
  font-size: 16px;
}
.presenter-tablet .content .heats .heat {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.presenter-tablet .content .heats .heat table {
  width: 80%;
  margin: 10px auto;
}
.presenter-tablet .content .heats .heat table td {
  border: 2px solid black;
  padding: 5px;
}
.presenter-tablet .content .heats .heat table td.number {
  width: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.presenter-tablet .content .heats .heat table td.name {
  font-weight: bold;
}
.presenter-tablet .content .heats .heat .spacer {
  height: 100px;
}
.presenter-tablet .content .results {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.presenter-tablet .content .results .disciplines {
  width: 350px;
  background-color: #bdd4de;
}
.presenter-tablet .content .results .disciplines .item {
  cursor: pointer;
  padding: 7px;
  font-size: 15px;
  font-weight: bold;
}
.presenter-tablet .content .results .disciplines .item.active {
  background-color: #ff530d;
}
.presenter-tablet .content .results .discipline-results {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.presenter-tablet .content .results .discipline-results .tour-name,
.presenter-tablet .content .results .discipline-results .row {
  width: 90%;
  margin: 5px auto;
}
.presenter-tablet .content .results .discipline-results .tour-name {
  background-color: #2b3a42;
  color: #efefef;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.presenter-tablet .content .results .discipline-results .row {
  cursor: pointer;
}
.presenter-tablet .content .results .discipline-results .row.active {
  background-color: #ffe4d9;
}
.presenter-tablet .content .results .discipline-results .row td {
  font-size: 15px;
  border: 2px solid black;
  padding: 1px 5px;
}
.presenter-tablet .content .results .discipline-results .row td.place {
  width: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}
.presenter-tablet .content .results .discipline-results .row td.place .place-label {
  font-size: 12px;
  line-height: 12px;
  color: black;
  padding: 0;
}
.presenter-tablet .content .results .discipline-results .row td.number {
  width: 70px;
  text-align: center;
  font-weight: bold;
}
.presenter-tablet .content .results .discipline-results .row td.name {
  font-weight: bold;
}
