.start-list {
  padding: 10px;
}
.start-list h2 {
  text-align: center;
}
.start-list .inner-competition table .number {
  width: 50px;
}
.start-list .inner-competition table .name {
  width: 325px;
}
.start-list .inner-competition table .club {
  width: 300px;
}
.start-list .inner-competition table .coaches {
  width: 150px;
}
.start-list .inner-competition table td.name,
.start-list .inner-competition table td.club,
.start-list .inner-competition table td.coaches {
  text-align: left !important;
}
.start-list .inner-competition table td,
.start-list .inner-competition table th {
  border: 2px solid black;
  padding: 2px 5px;
  vertical-align: top;
}
