.start-list {
  padding: 10px;
}
.start-list h2 {
  text-align: center;
}
.start-list .discipline > table {
  width: 750px;
}
.start-list .discipline > table .inner td,
.start-list .discipline > table .inner th {
  border: none;
  padding: 0;
  text-align: left;
}
.start-list .discipline > table td.name,
.start-list .discipline > table td.club,
.start-list .discipline > table td.coaches {
  text-align: left !important;
}
.start-list .discipline > table td,
.start-list .discipline > table th {
  border: 2px solid black;
  padding: 2px 5px;
  vertical-align: top;
}
.start-list td.acro {
  border-top: none !important;
}
.start-list .has-acro > td {
  border-bottom: 1px solid #555 !important;
}
.start-list .switch input {
  margin: 0 10px 0 0;
}
.start-list .switch span,
.start-list .switch input {
  vertical-align: middle;
}
table.inner {
  width: 100%;
}
