.start-list {
  padding: 10px;
}
.start-list h2 {
  text-align: center;
}
.start-list .inner-competition > table {
  width: 750px;
}
.start-list .inner-competition > table .sportsmen td,
.start-list .inner-competition > table .sportsmen th {
  border: none;
  padding: 0;
  text-align: left;
}
.start-list .inner-competition > table td.name,
.start-list .inner-competition > table td.club,
.start-list .inner-competition > table td.coaches {
  text-align: left !important;
}
.start-list .inner-competition > table td,
.start-list .inner-competition > table th {
  border: 2px solid black;
  padding: 2px 5px;
  vertical-align: top;
}
table.sportsmen {
  width: 100%;
}
