.start-screen {
  padding: 20px;
}
.start-screen .btn-default:hover {
  background-color: #ffffff;
  border-color: #cccccc;
}
.start-screen h3 {
  text-align: center;
}
.start-screen .role-selector h3 {
  padding-bottom: 20px;
}
.start-screen .competition-selector {
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
}
.start-screen .competition-selector .list {
  width: 100%;
}
.start-screen .competition-selector .list .button {
  cursor: pointer;
  background-color: #2b3a42;
  color: #efefef;
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
  padding: 15px;
}
.start-screen .no-competitions {
  margin: 200px auto;
  text-align: center;
}
