html,
body,
#content {
  overflow: auto;
}
.tbtn {
  background-color: #2b3a42;
  color: #efefef;
  border: none;
  padding: 10px 0;
  margin: 1px 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.spacer {
  height: 30px;
}
.scoring-layout {
  margin-bottom: 7px;
}
.total-score {
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}
.tablet-main-table {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
}
.tablet-main-table.single-run {
  width: 65%;
}
.tablet-main-table > tbody > tr > td {
  padding: 15px;
  max-width: 75%;
}
.tablet-main-table h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0 15px 0;
}
h3 {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 2px;
  margin-top: 5px;
  line-height: 1.2;
}
.tablet-integer-input {
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;
}
.tablet-integer-input .tbtn {
  width: 32.333%;
  display: inline-block;
  margin: 0;
  font-weight: bold;
  vertical-align: middle;
  margin: 0.5%;
}
.tablet-integer-input .value {
  width: 33.333%;
  display: inline-block;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  height: 39px;
  line-height: 39px;
  vertical-align: middle;
}
.judge-number {
  margin-top: 200px;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.judge-name {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}
header .header {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}
header .header h1 {
  font-size: 20px;
}
.mistakes .tbtn {
  background-color: #900;
}
.mistakes .value {
  background-color: #fcc;
}
div.mistakes {
  width: 50%;
  margin: 0 auto;
}
.mistakes td {
  width: 50%;
  padding: 0 10px;
}
.tech-judge-info {
  font-weight: bold;
  font-size: 14px;
  width: 50%;
  pading: 5px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  height: 29px;
  line-height: 29px;
}
.tech-judge-info .title {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 65%;
  padding-right: 5px;
  text-align: right;
}
.tech-judge-info .value {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 35%;
  text-align: center;
  background-color: #a7bbc5;
}
.tech-judge-info .value.ok {
  background-color: #090;
  color: #efefef;
}
.tech-judge-info .value.fail {
  background-color: #900;
  color: #efefef;
}
button.score-btn {
  vertical-align: top;
  margin: 0.5%;
  padding: 10px 0;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 12px;
}
button.score-btn.active {
  background-color: #ff530d;
  color: #2b3a42;
}
.selector-layout.n-2 button {
  width: 48.95%;
}
.selector-layout.n-3 button {
  width: 32.3%;
}
.selector-layout.n-4 button {
  width: 23.975%;
}
.selector-layout.n-5 button {
  width: 18.98%;
}
.selector-layout.n-6 button {
  width: 15.65%;
}
.selector-layout.n-7 button {
  width: 13.27142857%;
}
.selector-layout.n-8 button {
  width: 11.4875%;
}
.selector-layout.n-9 button {
  width: 10.1%;
}
.selector-layout.n-10 button {
  width: 8.99%;
}
.selector-layout.n-11 button {
  width: 8.08181818%;
}
.selector-layout.n-12 button {
  width: 7.325%;
}
.selector-layout.n-13 button {
  width: 6.68461538%;
}
.selector-layout.n-14 button {
  width: 6.13571429%;
}
.selector-layout.n-15 button {
  width: 5.66%;
}
.selector-layout.n-16 button {
  width: 5.24375%;
}
.selector-layout.n-17 button {
  width: 4.87647059%;
}
.selector-layout.n-18 button {
  width: 4.55%;
}
.selector-layout.n-19 button {
  width: 4.25789474%;
}
.selector-layout.n-20 button {
  width: 3.995%;
}
.selector-layout.n-21 button {
  width: 3.75714286%;
}
.selector-layout.n-22 button {
  width: 3.54090909%;
}
.selector-layout.n-23 button {
  width: 3.34347826%;
}
.selector-layout.n-24 button {
  width: 3.1625%;
}
.selector-layout.n-25 button {
  width: 2.996%;
}
.selector-layout.n-26 button {
  width: 2.84230769%;
}
.selector-layout-2rows.n-2 button {
  width: 65.6%;
}
.selector-layout-2rows.n-2 button:nth-child(2n) {
  margin: 50px -32.8% 0 -32.8% !important;
}
.selector-layout-2rows.n-3 button {
  width: 48.95%;
}
.selector-layout-2rows.n-3 button:nth-child(2n) {
  margin: 50px -24.475% 0 -24.475% !important;
}
.selector-layout-2rows.n-4 button {
  width: 38.96%;
}
.selector-layout-2rows.n-4 button:nth-child(2n) {
  margin: 50px -19.48% 0 -19.48% !important;
}
.selector-layout-2rows.n-5 button {
  width: 32.3%;
}
.selector-layout-2rows.n-5 button:nth-child(2n) {
  margin: 50px -16.15% 0 -16.15% !important;
}
.selector-layout-2rows.n-6 button {
  width: 27.54285714%;
}
.selector-layout-2rows.n-6 button:nth-child(2n) {
  margin: 50px -13.77142857% 0 -13.77142857% !important;
}
.selector-layout-2rows.n-7 button {
  width: 23.975%;
}
.selector-layout-2rows.n-7 button:nth-child(2n) {
  margin: 50px -11.9875% 0 -11.9875% !important;
}
.selector-layout-2rows.n-8 button {
  width: 21.2%;
}
.selector-layout-2rows.n-8 button:nth-child(2n) {
  margin: 50px -10.6% 0 -10.6% !important;
}
.selector-layout-2rows.n-9 button {
  width: 18.98%;
}
.selector-layout-2rows.n-9 button:nth-child(2n) {
  margin: 50px -9.49% 0 -9.49% !important;
}
.selector-layout-2rows.n-10 button {
  width: 17.16363636%;
}
.selector-layout-2rows.n-10 button:nth-child(2n) {
  margin: 50px -8.58181818% 0 -8.58181818% !important;
}
.selector-layout-2rows.n-11 button {
  width: 15.65%;
}
.selector-layout-2rows.n-11 button:nth-child(2n) {
  margin: 50px -7.825% 0 -7.825% !important;
}
.selector-layout-2rows.n-12 button {
  width: 14.36923077%;
}
.selector-layout-2rows.n-12 button:nth-child(2n) {
  margin: 50px -7.18461538% 0 -7.18461538% !important;
}
.selector-layout-2rows.n-13 button {
  width: 13.27142857%;
}
.selector-layout-2rows.n-13 button:nth-child(2n) {
  margin: 50px -6.63571429% 0 -6.63571429% !important;
}
.selector-layout-2rows.n-14 button {
  width: 12.32%;
}
.selector-layout-2rows.n-14 button:nth-child(2n) {
  margin: 50px -6.16% 0 -6.16% !important;
}
.selector-layout-2rows.n-15 button {
  width: 11.4875%;
}
.selector-layout-2rows.n-15 button:nth-child(2n) {
  margin: 50px -5.74375% 0 -5.74375% !important;
}
.selector-layout-2rows.n-16 button {
  width: 10.75294118%;
}
.selector-layout-2rows.n-16 button:nth-child(2n) {
  margin: 50px -5.37647059% 0 -5.37647059% !important;
}
.selector-layout-2rows.n-17 button {
  width: 10.1%;
}
.selector-layout-2rows.n-17 button:nth-child(2n) {
  margin: 50px -5.05% 0 -5.05% !important;
}
.selector-layout-2rows.n-18 button {
  width: 9.51578947%;
}
.selector-layout-2rows.n-18 button:nth-child(2n) {
  margin: 50px -4.75789474% 0 -4.75789474% !important;
}
.selector-layout-2rows.n-19 button {
  width: 8.99%;
}
.selector-layout-2rows.n-19 button:nth-child(2n) {
  margin: 50px -4.495% 0 -4.495% !important;
}
.selector-layout-2rows.n-20 button {
  width: 8.51428571%;
}
.selector-layout-2rows.n-20 button:nth-child(2n) {
  margin: 50px -4.25714286% 0 -4.25714286% !important;
}
.selector-layout-2rows.n-21 button {
  width: 8.08181818%;
}
.selector-layout-2rows.n-21 button:nth-child(2n) {
  margin: 50px -4.04090909% 0 -4.04090909% !important;
}
.selector-layout-2rows.n-22 button {
  width: 7.68695652%;
}
.selector-layout-2rows.n-22 button:nth-child(2n) {
  margin: 50px -3.84347826% 0 -3.84347826% !important;
}
.selector-layout-2rows.n-23 button {
  width: 7.325%;
}
.selector-layout-2rows.n-23 button:nth-child(2n) {
  margin: 50px -3.6625% 0 -3.6625% !important;
}
.selector-layout-2rows.n-24 button {
  width: 6.992%;
}
.selector-layout-2rows.n-24 button:nth-child(2n) {
  margin: 50px -3.496% 0 -3.496% !important;
}
.selector-layout-2rows.n-25 button {
  width: 6.68461538%;
}
.selector-layout-2rows.n-25 button:nth-child(2n) {
  margin: 50px -3.34230769% 0 -3.34230769% !important;
}
.selector-layout-2rows.n-26 button {
  width: 6.4%;
}
.selector-layout-2rows.n-26 button:nth-child(2n) {
  margin: 50px -3.2% 0 -3.2% !important;
}
.stopwatch {
  width: 100%;
  padding-bottom: 15px;
}
.stopwatch .time {
  line-height: 31px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  width: 32.3333%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  display: inline-block;
}
.stopwatch .btn-toggle,
.stopwatch .btn-reset {
  margin-left: 0.5%;
  margin-right: 0.5%;
  vertical-align: middle;
  width: 32.3333%;
  display: inline-block;
}
.tech-judge-acro {
  padding-bottom: 10px;
}
.tech-judge-acro .controls {
  float: right;
}
.tech-judge-acro .controls .btn-reset {
  width: 110px;
  display: inline-block;
  vertical-align: top;
}
.tech-judge-acro .controls .setter {
  width: 150px;
  display: inline-block;
  vertical-align: top;
}
.footer.page-selector {
  text-align: center;
}
.footer.page-selector button {
  width: 200px;
  background-color: #698b9d;
}
.footer.page-selector button.active {
  background-color: #ff7740;
}
.clearfix {
  clear: both;
  overflow: auto;
  zoom: 1;
}
