html,
body,
#content {
  overflow: auto;
}
.judge-tablet {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.judge-tablet header {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.judge-tablet .splash-screen {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.judge-tablet .splash-screen .judge-number {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.judge-tablet .splash-screen .judge-name {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}
.judge-tablet .splash-screen .not-judging-discipline {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.judge-tablet .splash-screen .not-judging-message {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.judge-tablet .splash-screen .not-judging-tour {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.judge-tablet .body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.judge-tablet .body .main-table {
  width: 100%;
  margin: 0 auto 20px;
  table-layout: fixed;
}
.judge-tablet .body .main-table.single-run {
  width: 650px;
}
.judge-tablet .body .main-table > tbody > tr > td {
  vertical-align: top;
  padding: 15px;
  border-left: 2px solid #3f5765;
}
.judge-tablet .body .main-table > tbody > tr > td:first-child {
  border-left: none;
}
.judge-tablet .body .main-table h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0 15px 0;
}
.judge-tablet .body .main-table .total-score {
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}
.judge-tablet .body .main-table .not-performing {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.judge-tablet .body .main-table .not-performed-control {
  text-align: center;
  padding-top: 20px;
}
.judge-tablet .body .main-table .dance-judge-scores {
  width: 100%;
  margin: 5px auto;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 5px;
}
.judge-tablet .body .main-table .dance-judge-scores .numbers {
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.judge-tablet .body .main-table .dance-judge-scores .scores td {
  background-color: #a7bbc5;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.judge-tablet .body .main-table .dance-judge-scores .scores td.confirmed {
  color: #efefef;
  background-color: #090;
}
.judge-tablet .body .main-table .mistakes .tbtn {
  background-color: #900;
}
.judge-tablet .body .main-table .mistakes .value {
  background-color: #fcc;
}
div.judge-tablet .body .main-table .mistakes {
  width: 50%;
  margin: 0 auto;
}
.judge-tablet .body .main-table .mistakes td {
  width: 50%;
  padding: 0 10px;
}
.judge-tablet .body .main-table .tech-judge-info {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  pading: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 10px;
  height: 29px;
}
.judge-tablet .body .main-table .tech-judge-info .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  width: 32.5%;
  padding-right: 5px;
  text-align: right;
}
.judge-tablet .body .main-table .tech-judge-info .value {
  vertical-align: top;
  width: 17.5%;
  text-align: center;
  padding: 2px;
}
.judge-tablet .body .main-table .tech-judge-info .value .inner {
  background-color: #a7bbc5;
  line-height: 29px;
  height: 29px;
}
.judge-tablet .body .main-table .tech-judge-info .value .inner.ok {
  background-color: #090;
  color: #efefef;
}
.judge-tablet .body .main-table .tech-judge-info .value .inner.fail {
  background-color: #900;
  color: #efefef;
}
.judge-tablet .body .main-table .confirm {
  text-align: center;
  padding-top: 10px;
  height: 35px;
}
.judge-tablet .body .main-table .confirm button {
  width: 200px;
}
.judge-tablet .body .main-table .slider {
  position: relative;
  width: 250px;
  height: 37px;
  line-height: 37px;
  background-color: #e2e2e2;
  text-align: center;
  margin: 0 auto;
}
.judge-tablet .body .main-table .slider .inner {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  line-height: 37px;
  background-color: #2b3a42;
  text-align: center;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.judge-tablet .body .main-table .slider .free {
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
.judge-tablet .body .main-table .slider .slide-text {
  margin-left: 35px;
}
.judge-tablet .body .main-table .slider .done-text {
  margin-right: 35px;
}
.judge-tablet .body .main-table .stopwatch {
  width: 100%;
  padding-bottom: 15px;
}
.judge-tablet .body .main-table .stopwatch .time {
  line-height: 31px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  width: 32.3333%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  display: inline-block;
}
.judge-tablet .body .main-table .stopwatch .btn-toggle,
.judge-tablet .body .main-table .stopwatch .btn-reset {
  margin-left: 0.5%;
  margin-right: 0.5%;
  vertical-align: middle;
  width: 32.3333%;
  display: inline-block;
}
.judge-tablet .body .main-table .stopwatch .tbtn.btn-toggle {
  background-color: #5cb85c;
  color: #ffffff;
}
.judge-tablet .body .main-table .stopwatch .tbtn.btn-toggle.active {
  background-color: #d9534f;
}
.judge-tablet .body .main-table .tech-judge-acro {
  padding: 5px 0;
  border-top: 2px solid #2b3a42;
}
.judge-tablet .body .main-table .tech-judge-acro .controls {
  margin-bottom: -7px;
  float: right;
}
.judge-tablet .body .main-table .tech-judge-acro .controls .btn-reset {
  width: 110px;
  display: inline-block;
  vertical-align: top;
}
.judge-tablet .body .main-table .tech-judge-acro .controls .setter {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
}
.judge-tablet .body .main-table .tablet-acro-override-input {
  width: 100%;
}
.judge-tablet .body .main-table .tablet-acro-override-input .buttons button {
  width: 23%;
  margin: 1%;
  padding: 5px;
}
.judge-tablet .body .main-table .tablet-acro-override-input .buttons button:disabled {
  background-color: #92a0a7;
}
.judge-tablet .body .main-table .tablet-acro-override-input .value {
  text-align: center;
  font-weight: bold;
}
.judge-tablet .body .tour-results {
  width: auto !important;
  margin: 10px !important;
}
.judge-tablet .body.actions {
  margin: 20px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.judge-tablet .body.actions .item {
  text-align: center;
  margin-bottom: 10px;
}
.judge-tablet .body.actions .item button {
  width: 80%;
  max-width: 500px;
}
.judge-tablet .body.actions .warning {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  display: inline-block;
  height: 0;
  position: relative;
}
.judge-tablet .body.actions .warning .content {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10px;
  padding: 10px;
  border: 1px solid #ebccd1;
  color: #a94442;
  background-color: #f2dede;
}
.judge-tablet .footer {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2b3a42;
}
.judge-tablet .footer.page-selector button {
  width: 25%;
  font-weight: bold;
  color: #efefef;
  background-color: #2b3a42;
}
.judge-tablet .footer.page-selector button.active {
  background-color: #3f5765;
}
.judge-tablet .scoring-layout {
  margin-bottom: 7px;
}
.judge-tablet .scoring-layout.selected .tbtn:not(.active) {
  background-color: #3f5765;
}
.judge-tablet .read-only .tbtn:not(.ignore-readonly):not(.active),
.judge-tablet .read-only .mistakes .tbtn:not(.ignore-readonly):not(.active) {
  background-color: #666 !important;
  color: #fff !important;
}
.judge-tablet .read-only .mistakes .value:not(.ignore-readonly):not(.active) {
  background-color: #ddd !important;
  color: #000 !important;
}
.judge-tablet .spacer {
  height: 30px;
}
.tbtn {
  background-color: #2b3a42;
  color: #efefef;
  border: none;
  padding: 10px 0;
  margin: 1px 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
h3 {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 2px;
  margin-top: 5px;
  line-height: 1.2;
}
h3.confirmed {
  color: #090;
}
.tablet-integer-input {
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;
}
.tablet-integer-input .tbtn {
  width: 32.333%;
  display: inline-block;
  margin: 0;
  font-weight: bold;
  vertical-align: middle;
  margin: 0.5%;
}
.tablet-integer-input .value {
  width: 33.333%;
  display: inline-block;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  height: 39px;
  line-height: 39px;
  vertical-align: middle;
}
header .header {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}
header .header h1 {
  font-size: 16px;
}
button.score-btn {
  vertical-align: top;
  margin: 0.5%;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  font-size: 12px;
}
button.score-btn.active {
  background-color: #ff530d;
  color: #2b3a42;
}
.selector-layout.n-2 button {
  width: 48.5%;
}
.selector-layout.n-3 button {
  width: 32%;
}
.selector-layout.n-4 button {
  width: 23.75%;
}
.selector-layout.n-5 button {
  width: 18.8%;
}
.selector-layout.n-6 button {
  width: 15.5%;
}
.selector-layout.n-7 button {
  width: 13.14285714%;
}
.selector-layout.n-8 button {
  width: 11.375%;
}
.selector-layout.n-9 button {
  width: 10%;
}
.selector-layout.n-10 button {
  width: 8.9%;
}
.selector-layout.n-11 button {
  width: 8%;
}
.selector-layout.n-12 button {
  width: 7.25%;
}
.selector-layout.n-13 button {
  width: 6.61538462%;
}
.selector-layout.n-14 button {
  width: 6.07142857%;
}
.selector-layout.n-15 button {
  width: 5.6%;
}
.selector-layout.n-16 button {
  width: 5.1875%;
}
.selector-layout.n-17 button {
  width: 4.82352941%;
}
.selector-layout.n-18 button {
  width: 4.5%;
}
.selector-layout.n-19 button {
  width: 4.21052632%;
}
.selector-layout.n-20 button {
  width: 3.95%;
}
.selector-layout.n-21 button {
  width: 3.71428571%;
}
.selector-layout.n-22 button {
  width: 3.5%;
}
.selector-layout.n-23 button {
  width: 3.30434783%;
}
.selector-layout.n-24 button {
  width: 3.125%;
}
.selector-layout.n-25 button {
  width: 2.96%;
}
.selector-layout.n-26 button {
  width: 2.80769231%;
}
.selector-layout-2rows.n-2 button {
  width: 65%;
}
.selector-layout-2rows.n-2 button:nth-child(2n) {
  margin: 45px -32.5% 0 -32.5% !important;
}
.selector-layout-2rows.n-3 button {
  width: 48.5%;
}
.selector-layout-2rows.n-3 button:nth-child(2n) {
  margin: 45px -24.25% 0 -24.25% !important;
}
.selector-layout-2rows.n-4 button {
  width: 38.6%;
}
.selector-layout-2rows.n-4 button:nth-child(2n) {
  margin: 45px -19.3% 0 -19.3% !important;
}
.selector-layout-2rows.n-5 button {
  width: 32%;
}
.selector-layout-2rows.n-5 button:nth-child(2n) {
  margin: 45px -16% 0 -16% !important;
}
.selector-layout-2rows.n-6 button {
  width: 27.28571429%;
}
.selector-layout-2rows.n-6 button:nth-child(2n) {
  margin: 45px -13.64285714% 0 -13.64285714% !important;
}
.selector-layout-2rows.n-7 button {
  width: 23.75%;
}
.selector-layout-2rows.n-7 button:nth-child(2n) {
  margin: 45px -11.875% 0 -11.875% !important;
}
.selector-layout-2rows.n-8 button {
  width: 21%;
}
.selector-layout-2rows.n-8 button:nth-child(2n) {
  margin: 45px -10.5% 0 -10.5% !important;
}
.selector-layout-2rows.n-9 button {
  width: 18.8%;
}
.selector-layout-2rows.n-9 button:nth-child(2n) {
  margin: 45px -9.4% 0 -9.4% !important;
}
.selector-layout-2rows.n-10 button {
  width: 17%;
}
.selector-layout-2rows.n-10 button:nth-child(2n) {
  margin: 45px -8.5% 0 -8.5% !important;
}
.selector-layout-2rows.n-11 button {
  width: 15.5%;
}
.selector-layout-2rows.n-11 button:nth-child(2n) {
  margin: 45px -7.75% 0 -7.75% !important;
}
.selector-layout-2rows.n-12 button {
  width: 14.23076923%;
}
.selector-layout-2rows.n-12 button:nth-child(2n) {
  margin: 45px -7.11538462% 0 -7.11538462% !important;
}
.selector-layout-2rows.n-13 button {
  width: 13.14285714%;
}
.selector-layout-2rows.n-13 button:nth-child(2n) {
  margin: 45px -6.57142857% 0 -6.57142857% !important;
}
.selector-layout-2rows.n-14 button {
  width: 12.2%;
}
.selector-layout-2rows.n-14 button:nth-child(2n) {
  margin: 45px -6.1% 0 -6.1% !important;
}
.selector-layout-2rows.n-15 button {
  width: 11.375%;
}
.selector-layout-2rows.n-15 button:nth-child(2n) {
  margin: 45px -5.6875% 0 -5.6875% !important;
}
.selector-layout-2rows.n-16 button {
  width: 10.64705882%;
}
.selector-layout-2rows.n-16 button:nth-child(2n) {
  margin: 45px -5.32352941% 0 -5.32352941% !important;
}
.selector-layout-2rows.n-17 button {
  width: 10%;
}
.selector-layout-2rows.n-17 button:nth-child(2n) {
  margin: 45px -5% 0 -5% !important;
}
.selector-layout-2rows.n-18 button {
  width: 9.42105263%;
}
.selector-layout-2rows.n-18 button:nth-child(2n) {
  margin: 45px -4.71052632% 0 -4.71052632% !important;
}
.selector-layout-2rows.n-19 button {
  width: 8.9%;
}
.selector-layout-2rows.n-19 button:nth-child(2n) {
  margin: 45px -4.45% 0 -4.45% !important;
}
.selector-layout-2rows.n-20 button {
  width: 8.42857143%;
}
.selector-layout-2rows.n-20 button:nth-child(2n) {
  margin: 45px -4.21428571% 0 -4.21428571% !important;
}
.selector-layout-2rows.n-21 button {
  width: 8%;
}
.selector-layout-2rows.n-21 button:nth-child(2n) {
  margin: 45px -4% 0 -4% !important;
}
.selector-layout-2rows.n-22 button {
  width: 7.60869565%;
}
.selector-layout-2rows.n-22 button:nth-child(2n) {
  margin: 45px -3.80434783% 0 -3.80434783% !important;
}
.selector-layout-2rows.n-23 button {
  width: 7.25%;
}
.selector-layout-2rows.n-23 button:nth-child(2n) {
  margin: 45px -3.625% 0 -3.625% !important;
}
.selector-layout-2rows.n-24 button {
  width: 6.92%;
}
.selector-layout-2rows.n-24 button:nth-child(2n) {
  margin: 45px -3.46% 0 -3.46% !important;
}
.selector-layout-2rows.n-25 button {
  width: 6.61538462%;
}
.selector-layout-2rows.n-25 button:nth-child(2n) {
  margin: 45px -3.30769231% 0 -3.30769231% !important;
}
.selector-layout-2rows.n-26 button {
  width: 6.33333333%;
}
.selector-layout-2rows.n-26 button:nth-child(2n) {
  margin: 45px -3.16666667% 0 -3.16666667% !important;
}
.connection-tester {
  margin-top: 10px;
}
.connection-tester h3 {
  margin-top: 15px;
}
.connection-tester .stat div {
  display: inline-block;
}
.connection-tester .stat .title {
  width: 8.25%;
  font-weight: bold;
  text-align: right;
  padding-right: 3px;
}
.connection-tester .stat .value {
  width: 8.25%;
}
.connection-tester .latency-chart {
  width: 100%;
}
.connection-tester .latency-chart .chart-cell {
  width: 9.9%;
  vertical-align: bottom;
  height: 220px;
  text-align: center;
}
.connection-tester .latency-chart .chart-cell .bar {
  background-color: #2b3a42;
}
.connection-tester .latency-chart .chart-cell .bar.red {
  background-color: #c00;
}
