html,
body,
#content {
  overflow: auto;
}
.judge-tablet {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.judge-tablet header {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.judge-tablet .grid {
  margin: 0 auto;
  width: 100%;
}
.judge-tablet .grid .row.align-left {
  margin-right: auto;
}
.judge-tablet .grid .row.align-right {
  margin-left: auto;
}
.judge-tablet .grid .row.align-center {
  margin-left: auto;
  margin-right: auto;
}
.judge-tablet .grid .row .item {
  vertical-align: top;
  border-left: 2px solid black;
}
.judge-tablet .grid .row .item:first-child {
  border-left: none;
}
.judge-tablet .splash-screen {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.judge-tablet .splash-screen .judge-number {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.judge-tablet .splash-screen .judge-name {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}
.judge-tablet .splash-screen .not-judging-discipline {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.judge-tablet .splash-screen .not-judging-message {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.judge-tablet .splash-screen .not-judging-tour {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.judge-tablet .body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.judge-tablet .body .participant {
  padding: 15px;
  border-left: 2px solid #3f5765;
}
.judge-tablet .body .participant:first-child {
  border-left: none;
}
.judge-tablet .body .participant h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0 15px 0;
}
.judge-tablet .body .participant .total-score {
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}
.judge-tablet .body .participant .not-performing {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.judge-tablet .body .participant .not-performed-control {
  text-align: center;
  padding-top: 20px;
}
.judge-tablet .body .participant .dance-judge-scores {
  width: 100%;
  margin: 5px auto;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 5px;
}
.judge-tablet .body .participant .dance-judge-scores .numbers {
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.judge-tablet .body .participant .dance-judge-scores .scores td {
  background-color: #a7bbc5;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.judge-tablet .body .participant .dance-judge-scores .scores td.confirmed {
  color: #efefef;
  background-color: #090;
}
.judge-tablet .body .participant .mistakes .tbtn {
  background-color: #900;
}
.judge-tablet .body .participant .mistakes .value {
  background-color: #fcc;
}
div.judge-tablet .body .participant .mistakes {
  width: 50%;
  margin: 0 auto;
}
.judge-tablet .body .participant .mistakes td {
  width: 50%;
  padding: 0 10px;
}
.judge-tablet .body .participant .tech-judge-info {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  pading: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 10px;
  height: 29px;
}
.judge-tablet .body .participant .tech-judge-info .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  width: 32.5%;
  padding-right: 5px;
  text-align: right;
}
.judge-tablet .body .participant .tech-judge-info .value {
  vertical-align: top;
  width: 17.5%;
  text-align: center;
  padding: 2px;
}
.judge-tablet .body .participant .tech-judge-info .value .inner {
  background-color: #a7bbc5;
  line-height: 29px;
  height: 29px;
}
.judge-tablet .body .participant .tech-judge-info .value .inner.ok {
  background-color: #090;
  color: #efefef;
}
.judge-tablet .body .participant .tech-judge-info .value .inner.fail {
  background-color: #900;
  color: #efefef;
}
.judge-tablet .body .participant .confirm {
  text-align: center;
  padding-top: 10px;
  height: 35px;
}
.judge-tablet .body .participant .confirm button {
  width: 200px;
}
.judge-tablet .body .participant .slider {
  position: relative;
  width: 250px;
  height: 37px;
  line-height: 37px;
  background-color: #e2e2e2;
  text-align: center;
  margin: 0 auto;
}
.judge-tablet .body .participant .slider .inner {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  line-height: 37px;
  background-color: #2b3a42;
  text-align: center;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.judge-tablet .body .participant .slider .free {
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
.judge-tablet .body .participant .slider .slide-text {
  margin-left: 35px;
}
.judge-tablet .body .participant .slider .done-text {
  margin-right: 35px;
}
.judge-tablet .body .participant .stopwatch {
  width: 100%;
  padding-bottom: 15px;
}
.judge-tablet .body .participant .stopwatch .time {
  line-height: 31px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  width: 32.3333%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  display: inline-block;
}
.judge-tablet .body .participant .stopwatch .btn-toggle,
.judge-tablet .body .participant .stopwatch .btn-reset {
  margin-left: 0.5%;
  margin-right: 0.5%;
  vertical-align: middle;
  width: 32.3333%;
  display: inline-block;
}
.judge-tablet .body .participant .stopwatch .tbtn.btn-toggle {
  background-color: #5cb85c;
  color: #ffffff;
}
.judge-tablet .body .participant .stopwatch .tbtn.btn-toggle.active {
  background-color: #d9534f;
}
.judge-tablet .body .participant .tech-judge-acro {
  padding: 5px 0;
  border-top: 2px solid #2b3a42;
}
.judge-tablet .body .participant .tech-judge-acro .controls {
  margin-bottom: -7px;
  float: right;
}
.judge-tablet .body .participant .tech-judge-acro .controls .btn-reset {
  width: 110px;
  display: inline-block;
  vertical-align: top;
}
.judge-tablet .body .participant .tech-judge-acro .controls .setter {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
}
.judge-tablet .body .participant .tablet-acro-override-input {
  width: 100%;
}
.judge-tablet .body .participant .tablet-acro-override-input .buttons button {
  width: 23%;
  margin: 1%;
  padding: 5px;
}
.judge-tablet .body .participant .tablet-acro-override-input .buttons button:disabled {
  background-color: #92a0a7;
}
.judge-tablet .body .participant .tablet-acro-override-input .value {
  text-align: center;
  font-weight: bold;
}
.judge-tablet .body .tour-results {
  width: auto !important;
  margin: 10px !important;
}
.judge-tablet .body.actions {
  margin: 20px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.judge-tablet .body.actions .item {
  text-align: center;
  margin-bottom: 10px;
}
.judge-tablet .body.actions .item button {
  width: 80%;
  max-width: 500px;
}
.judge-tablet .body.actions .warning {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  display: inline-block;
  height: 0;
  position: relative;
}
.judge-tablet .body.actions .warning .content {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10px;
  padding: 10px;
  border: 1px solid #ebccd1;
  color: #a94442;
  background-color: #f2dede;
}
.judge-tablet .footer {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2b3a42;
}
.judge-tablet .footer.page-selector button {
  width: 25%;
  font-weight: bold;
  color: #efefef;
  background-color: #2b3a42;
}
.judge-tablet .footer.page-selector button.active {
  background-color: #3f5765;
}
.judge-tablet .scoring-layout {
  margin-bottom: 7px;
}
.judge-tablet .scoring-layout.selected .tbtn:not(.active) {
  background-color: #3f5765;
}
.judge-tablet .read-only .tbtn:not(.ignore-readonly):not(.active),
.judge-tablet .read-only .mistakes .tbtn:not(.ignore-readonly):not(.active) {
  background-color: #666 !important;
  color: #fff !important;
}
.judge-tablet .read-only .mistakes .value:not(.ignore-readonly):not(.active) {
  background-color: #ddd !important;
  color: #000 !important;
}
.judge-tablet .spacer {
  height: 30px;
}
.tbtn {
  background-color: #2b3a42;
  color: #efefef;
  border: none;
  padding: 10px 0;
  margin: 1px 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
h3 {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 2px;
  margin-top: 5px;
  line-height: 1.2;
}
h3.confirmed {
  color: #090;
}
.tablet-integer-input {
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;
}
.tablet-integer-input .tbtn {
  width: 32.333%;
  display: inline-block;
  margin: 0;
  font-weight: bold;
  vertical-align: middle;
  margin: 0.5%;
}
.tablet-integer-input .value {
  width: 33.333%;
  display: inline-block;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  height: 39px;
  line-height: 39px;
  vertical-align: middle;
}
header .header {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}
header .header h1 {
  font-size: 16px;
}
button.score-btn {
  vertical-align: top;
  margin: 0.5%;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  font-size: 12px;
}
button.score-btn.active {
  background-color: #ff530d;
  color: #2b3a42;
}
.selector-layout.n-2 button {
  width: 48.995%;
}
.selector-layout.n-3 button {
  width: 32.33%;
}
.selector-layout.n-4 button {
  width: 23.9975%;
}
.selector-layout.n-5 button {
  width: 18.998%;
}
.selector-layout.n-6 button {
  width: 15.665%;
}
.selector-layout.n-7 button {
  width: 13.28428571%;
}
.selector-layout.n-8 button {
  width: 11.49875%;
}
.selector-layout.n-9 button {
  width: 10.11%;
}
.selector-layout.n-10 button {
  width: 8.999%;
}
.selector-layout.n-11 button {
  width: 8.09%;
}
.selector-layout.n-12 button {
  width: 7.3325%;
}
.selector-layout.n-13 button {
  width: 6.69153846%;
}
.selector-layout.n-14 button {
  width: 6.14214286%;
}
.selector-layout.n-15 button {
  width: 5.666%;
}
.selector-layout.n-16 button {
  width: 5.249375%;
}
.selector-layout.n-17 button {
  width: 4.88176471%;
}
.selector-layout.n-18 button {
  width: 4.555%;
}
.selector-layout.n-19 button {
  width: 4.26263158%;
}
.selector-layout.n-20 button {
  width: 3.9995%;
}
.selector-layout.n-21 button {
  width: 3.76142857%;
}
.selector-layout.n-22 button {
  width: 3.545%;
}
.selector-layout.n-23 button {
  width: 3.3473913%;
}
.selector-layout.n-24 button {
  width: 3.16625%;
}
.selector-layout.n-25 button {
  width: 2.9996%;
}
.selector-layout.n-26 button {
  width: 2.84576923%;
}
.selector-layout-2rows.n-2 button {
  width: 65.66%;
}
.selector-layout-2rows.n-2 button:nth-child(2n) {
  margin: 45px -32.83% 0 -32.83% !important;
}
.selector-layout-2rows.n-3 button {
  width: 48.995%;
}
.selector-layout-2rows.n-3 button:nth-child(2n) {
  margin: 45px -24.4975% 0 -24.4975% !important;
}
.selector-layout-2rows.n-4 button {
  width: 38.996%;
}
.selector-layout-2rows.n-4 button:nth-child(2n) {
  margin: 45px -19.498% 0 -19.498% !important;
}
.selector-layout-2rows.n-5 button {
  width: 32.33%;
}
.selector-layout-2rows.n-5 button:nth-child(2n) {
  margin: 45px -16.165% 0 -16.165% !important;
}
.selector-layout-2rows.n-6 button {
  width: 27.56857143%;
}
.selector-layout-2rows.n-6 button:nth-child(2n) {
  margin: 45px -13.78428571% 0 -13.78428571% !important;
}
.selector-layout-2rows.n-7 button {
  width: 23.9975%;
}
.selector-layout-2rows.n-7 button:nth-child(2n) {
  margin: 45px -11.99875% 0 -11.99875% !important;
}
.selector-layout-2rows.n-8 button {
  width: 21.22%;
}
.selector-layout-2rows.n-8 button:nth-child(2n) {
  margin: 45px -10.61% 0 -10.61% !important;
}
.selector-layout-2rows.n-9 button {
  width: 18.998%;
}
.selector-layout-2rows.n-9 button:nth-child(2n) {
  margin: 45px -9.499% 0 -9.499% !important;
}
.selector-layout-2rows.n-10 button {
  width: 17.18%;
}
.selector-layout-2rows.n-10 button:nth-child(2n) {
  margin: 45px -8.59% 0 -8.59% !important;
}
.selector-layout-2rows.n-11 button {
  width: 15.665%;
}
.selector-layout-2rows.n-11 button:nth-child(2n) {
  margin: 45px -7.8325% 0 -7.8325% !important;
}
.selector-layout-2rows.n-12 button {
  width: 14.38307692%;
}
.selector-layout-2rows.n-12 button:nth-child(2n) {
  margin: 45px -7.19153846% 0 -7.19153846% !important;
}
.selector-layout-2rows.n-13 button {
  width: 13.28428571%;
}
.selector-layout-2rows.n-13 button:nth-child(2n) {
  margin: 45px -6.64214286% 0 -6.64214286% !important;
}
.selector-layout-2rows.n-14 button {
  width: 12.332%;
}
.selector-layout-2rows.n-14 button:nth-child(2n) {
  margin: 45px -6.166% 0 -6.166% !important;
}
.selector-layout-2rows.n-15 button {
  width: 11.49875%;
}
.selector-layout-2rows.n-15 button:nth-child(2n) {
  margin: 45px -5.749375% 0 -5.749375% !important;
}
.selector-layout-2rows.n-16 button {
  width: 10.76352941%;
}
.selector-layout-2rows.n-16 button:nth-child(2n) {
  margin: 45px -5.38176471% 0 -5.38176471% !important;
}
.selector-layout-2rows.n-17 button {
  width: 10.11%;
}
.selector-layout-2rows.n-17 button:nth-child(2n) {
  margin: 45px -5.055% 0 -5.055% !important;
}
.selector-layout-2rows.n-18 button {
  width: 9.52526316%;
}
.selector-layout-2rows.n-18 button:nth-child(2n) {
  margin: 45px -4.76263158% 0 -4.76263158% !important;
}
.selector-layout-2rows.n-19 button {
  width: 8.999%;
}
.selector-layout-2rows.n-19 button:nth-child(2n) {
  margin: 45px -4.4995% 0 -4.4995% !important;
}
.selector-layout-2rows.n-20 button {
  width: 8.52285714%;
}
.selector-layout-2rows.n-20 button:nth-child(2n) {
  margin: 45px -4.26142857% 0 -4.26142857% !important;
}
.selector-layout-2rows.n-21 button {
  width: 8.09%;
}
.selector-layout-2rows.n-21 button:nth-child(2n) {
  margin: 45px -4.045% 0 -4.045% !important;
}
.selector-layout-2rows.n-22 button {
  width: 7.69478261%;
}
.selector-layout-2rows.n-22 button:nth-child(2n) {
  margin: 45px -3.8473913% 0 -3.8473913% !important;
}
.selector-layout-2rows.n-23 button {
  width: 7.3325%;
}
.selector-layout-2rows.n-23 button:nth-child(2n) {
  margin: 45px -3.66625% 0 -3.66625% !important;
}
.selector-layout-2rows.n-24 button {
  width: 6.9992%;
}
.selector-layout-2rows.n-24 button:nth-child(2n) {
  margin: 45px -3.4996% 0 -3.4996% !important;
}
.selector-layout-2rows.n-25 button {
  width: 6.69153846%;
}
.selector-layout-2rows.n-25 button:nth-child(2n) {
  margin: 45px -3.34576923% 0 -3.34576923% !important;
}
.selector-layout-2rows.n-26 button {
  width: 6.40666667%;
}
.selector-layout-2rows.n-26 button:nth-child(2n) {
  margin: 45px -3.20333333% 0 -3.20333333% !important;
}
.connection-tester {
  margin-top: 10px;
}
.connection-tester h3 {
  margin-top: 15px;
}
.connection-tester .stat div {
  display: inline-block;
}
.connection-tester .stat .title {
  width: 8.25%;
  font-weight: bold;
  text-align: right;
  padding-right: 3px;
}
.connection-tester .stat .value {
  width: 8.25%;
}
.connection-tester .latency-chart {
  width: 100%;
}
.connection-tester .latency-chart .chart-cell {
  width: 9.9%;
  vertical-align: bottom;
  height: 220px;
  text-align: center;
}
.connection-tester .latency-chart .chart-cell .bar {
  background-color: #2b3a42;
}
.connection-tester .latency-chart .chart-cell .bar.red {
  background-color: #c00;
}
