.tour-admin h4 {
  margin: 10px;
}
.tour-admin .bordered-table {
  margin: 10px;
}
.tour-admin .bordered-table .number {
  width: 50px;
}
.tour-admin .bordered-table .name {
  width: 300px;
}
.tour-admin .bordered-table .club {
  width: 250px;
}
.tour-admin .bordered-table .heat {
  width: 40px;
}
.tour-admin .bordered-table .judge {
  width: 50px;
}
.tour-admin .bordered-table .total {
  width: 100px;
}
.tour-admin .bordered-table .acro-description {
  width: 400px;
}
.tour-admin .bordered-table .acro-idx {
  width: 75px;
}
.tour-admin .bordered-table .old-score {
  width: 50px;
}
.tour-admin .bordered-table .new-score {
  width: 50px;
}
.tour-admin .bordered-table .acro-description {
  text-align: left !important;
}
.tour-admin .bordered-table td {
  position: relative;
}
.tour-admin .bordered-table td.judge,
.tour-admin .bordered-table td.heat {
  cursor: pointer;
}
.tour-admin .bordered-table td.no-score {
  background-color: #999;
}
.tour-admin .bordered-table tr.odd-heat {
  background-color: #dfeaef;
}
.tour-admin .bordered-table th,
.tour-admin .bordered-table td {
  text-align: center;
}
.tour-admin .bordered-table td.editing {
  background-color: #ff530d;
}
.tour-admin .bordered-table td.name,
.tour-admin .bordered-table td.club {
  text-align: left !important;
}
.tour-admin .bordered-table tr.active {
  background-color: #bdd4de;
}
.tour-admin .bordered-table .form-score-input {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #3f5765;
  z-index: 10;
  padding: 10px;
}
.tour-admin .bordered-table .form-score-input table {
  margin-bottom: 10px;
}
.tour-admin .bordered-table .form-score-input th {
  color: #efefef;
}
.tour-admin .bordered-table .form-score-input td,
.tour-admin .bordered-table .form-score-input th {
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
.tour-admin .bordered-table .form-score-input td input,
.tour-admin .bordered-table .form-score-input th input {
  width: 50px;
}
.tour-admin .bordered-table .input-heat {
  width: 100%;
  box-sizing: border-box;
  height: 22px;
  margin: -2px;
  padding: 0;
  border: 0;
  text-align: center;
}
