.tour-heats {
  margin: 10px;
}
.tour-heats .bordered-table {
  width: 750px;
}
.tour-heats td {
  text-align: left;
}
.tour-heats td,
.tour-heats th {
  font-size: 15px;
}
.tour-heats .heat-number {
  text-align: left;
  background-color: #ccc;
}
.tour-admin h4 {
  margin: 10px;
}
.tour-admin .bordered-table {
  margin: 10px;
}
.tour-admin .bordered-table .number {
  width: 50px;
}
.tour-admin .bordered-table .name {
  width: 300px;
}
.tour-admin .bordered-table .acrobatics {
  width: 120px;
}
.tour-admin .bordered-table .heat {
  width: 40px;
}
.tour-admin .bordered-table .judge {
  width: 50px;
}
.tour-admin .bordered-table .total {
  width: 120px;
}
.tour-admin .bordered-table .acro-description {
  width: 400px;
}
.tour-admin .bordered-table .acro-idx {
  width: 75px;
}
.tour-admin .bordered-table .old-score {
  width: 50px;
}
.tour-admin .bordered-table .new-score {
  width: 50px;
}
.tour-admin .bordered-table .acro-description {
  text-align: left !important;
}
.tour-admin .bordered-table td {
  position: relative;
}
.tour-admin .bordered-table td.judge,
.tour-admin .bordered-table td.heat,
.tour-admin .bordered-table td.acrobatics {
  cursor: pointer;
}
.tour-admin .bordered-table td.no-score {
  background-color: #999;
}
.tour-admin .bordered-table tr.odd-heat {
  background-color: #dfeaef;
}
.tour-admin .bordered-table th,
.tour-admin .bordered-table td {
  text-align: center;
}
.tour-admin .bordered-table tr td.confirmed-score {
  background-color: #559955;
  font-weight: bold;
  color: #fff;
}
.tour-admin .bordered-table tr td.confirmed-score input {
  color: #000;
  font-weight: normal;
}
.tour-admin .bordered-table tr.odd-heat td.confirmed-score {
  background-color: #437843;
}
.tour-admin .bordered-table td.editing {
  background-color: #ff530d !important;
}
.tour-admin .bordered-table td.name,
.tour-admin .bordered-table td.club {
  text-align: left !important;
}
.tour-admin .bordered-table tr.active {
  background-color: #bdd4de;
}
.tour-admin .bordered-table .form-acro-input {
  width: 630px;
  color: #efefef;
}
.tour-admin .bordered-table .form-acro-input .no-program {
  margin: 10px 0 20px;
  font-style: italic;
}
.tour-admin .bordered-table .form-acro-input .acrobatics {
  width: 100%;
}
.tour-admin .bordered-table .form-acro-input .acrobatics td,
.tour-admin .bordered-table .form-acro-input .acrobatics th {
  vertical-align: middle;
}
.tour-admin .bordered-table .form-acro-input .acrobatics tr:nth-child(2n) {
  background-color: #496575;
}
.tour-admin .bordered-table .form-acro-input .acrobatics .description {
  width: 350px;
}
.tour-admin .bordered-table .form-acro-input .acrobatics .controls {
  text-align: right;
}
.tour-admin .bordered-table .form-acro-input .acrobatics .old-score,
.tour-admin .bordered-table .form-acro-input .acrobatics .new-score {
  text-align: center;
  width: 50px;
}
.tour-admin .bordered-table .form-acro-input .acro-loader {
  color: #000;
}
.tour-admin .bordered-table .form-acro-input .acro-loader select {
  width: 300px;
  height: 29px;
}
.tour-admin .bordered-table .form-score-input,
.tour-admin .bordered-table .form-acro-input {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #3f5765;
  z-index: 10;
  padding: 10px;
  cursor: default;
}
.tour-admin .bordered-table .form-score-input table,
.tour-admin .bordered-table .form-acro-input table {
  margin-bottom: 10px;
}
.tour-admin .bordered-table .form-score-input th,
.tour-admin .bordered-table .form-acro-input th {
  color: #efefef;
}
.tour-admin .bordered-table .form-score-input td,
.tour-admin .bordered-table .form-acro-input td,
.tour-admin .bordered-table .form-score-input th,
.tour-admin .bordered-table .form-acro-input th {
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
.tour-admin .bordered-table .form-score-input td input,
.tour-admin .bordered-table .form-acro-input td input,
.tour-admin .bordered-table .form-score-input th input,
.tour-admin .bordered-table .form-acro-input th input {
  width: 50px;
}
.tour-admin .bordered-table .input-heat {
  width: 100%;
  box-sizing: border-box;
  height: 22px;
  margin: -2px;
  padding: 0;
  border: 0;
  text-align: center;
}
