.tour-results {
  margin: 10px;
}
.tour-results td {
  vertical-align: top;
}
.tour-results .score-breakdown th,
.tour-results .score-breakdown td {
  border: none;
  padding: 0 3px;
}
.tour-results .score-breakdown th {
  text-align: right;
}
.tour-results .score-breakdown td {
  text-align: left;
}
.tour-results .score-breakdown .total-score {
  font-weight: bold;
}
.tour-results .bordered-table .place {
  width: 50px;
}
.tour-results .bordered-table .number {
  width: 50px;
}
.tour-results .bordered-table .participant {
  width: 300px;
}
.tour-results .bordered-table .club {
  width: 300px;
}
.tour-results .bordered-table .score {
  width: 100px;
}
.tour-results .bordered-table .next-tour {
  width: 70px;
}
.tour-results .bordered-table td.participant,
.tour-results .bordered-table td.club {
  text-align: left !important;
}
