@import "base.less";

.tour-results {
  margin: 10px;
  .scores-table {
    .place        { width: 50px;  }
    .number       { width: 50px;  }
    .participant  { width: 400px;  }
    .score        { width: 70px; }
    .next-tour    { width: 70px; }
    td.participant {
      text-align: left !important;
    }
  }
}
