.tour-results {
  margin: 10px;
}
.tour-results td {
  vertical-align: top;
}
.tour-results .score-breakdown th,
.tour-results .score-breakdown td {
  border: none;
  padding: 0 3px;
}
.tour-results .score-breakdown th {
  text-align: right;
}
.tour-results .score-breakdown td {
  text-align: left;
}
.tour-results .score-breakdown .total-score {
  font-weight: bold;
}
.tour-results .bordered-table {
  width: 750px;
}
.tour-results .bordered-table td.participant,
.tour-results .bordered-table td.club {
  text-align: left !important;
}
.tour-results .bordered-table .advances-header {
  background-color: #ccc;
  font-weight: bold;
  text-align: left;
}
