@import "variables.less";

.start-list {
  font-size: 10pt;
  .controls {
    width: @print-width;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 10px;
    background-color: @ui-medium;
    color: @ui-white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    a {
      color: @ui-white;
      text-decoration: underline;
    }
    .spacer {
      height: 25px;
    }
  }
  .discipline, .club {
    > table {
      width: 100%;
      .inner {
        td, th {
          border: none;
          padding: 0;
          text-align: left;
        }
      }
      td.name, td.club, td.discipline, td.coaches {
        text-align: left !important;
      }
      td, th {
        border: 2px solid black;
        padding: 2px 5px;
        vertical-align: top;
      }
    }
  }
  .summary {
    table {
      width: 100%;
      table-layout: fixed;
      td, th {
        border: 2px solid black;
        padding: 2px 5px;
        text-align: left;
      }
    }
  }
  .disciplines-shown, .clubs-shown {
    ul {
      margin-bottom: 15pt;
    }
  }
  td.acro {
    border-top: none !important;
  }
  .has-acro > td {
    border-bottom: 1px solid #555 !important;
  }
  .switch {
    input {
      margin: 0 10px 0 0;
    }
    span, input {
      vertical-align: middle
    }
  }
}

table.inner {
  width: 100%;
}
