{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  Round control
{% end %}

{% block scripts %}
  <script src="/static/js/Simple/round_table.jsx" type="text/jsx"></script>
  <script type="text/jsx">
    var DATA = {{ json_encode(data) }};
    React.render(
      <AdminTourTable
        data={ DATA }
        round_id={ {{ round.id }} } />,
      document.getElementById("content")
    );
  </script>
{% end %}

{% block body %}
  <h1>Round {{ round.name }}</h1>
  <div id="content"></div>
  <a href="/round/{{ round.id }}/init">Init</a><br>
  <a href="/round/{{ round.id }}/finalize">Finalize</a><br>
{% end %}