{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  Tour control
{% end %}

{% block scripts %}
  <script src="/static/js/Simple/tablet.jsx" type="text/jsx;harmony=true"></script>
  <script src="/static/js/scoring_systems/rosfarr_no_acro/tablet_input.jsx" type="text/jsx;harmony=true"></script>
  <script type="text/jsx">
    React.render(
      <JudgeTablet
        judge_id={ {{ judge.id }} } />,
      document.getElementById("content")
    );
  </script>
{% end %}

{% block body %}
  <h1>Judge {{ judge.name }}</h1>
  <div id="content"></div>
{% end %}
