{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  Tour control
{% end %}

{% block scripts %}
  <script src="/static/js/Simple/tour_admin.jsx" type="text/jsx;harmony=true"></script>
  <script src="/static/js/scoring_systems/rosfarr_no_acro/admin_input.jsx" type="text/jsx;harmony=true"></script>
  <script type="text/jsx">
    React.render(
      <TourAdminScoresTable
        tour_id={ {{ tour_id }} } />,
      document.getElementById("content")
    );
  </script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
