.DisciplineResultsTable {
    th.tour-name {
        padding-top: 10pt;
    }
    th {
        border-bottom: 1pt solid black;
    }
    td {
        border-bottom: 0.5pt solid #aaa;
    }
    table .sportsmen td, .bordered-table .sportsmen th {
        border: none;
        padding: 0;
    }
    .sportsmen {
        width: 100%;
    }
}
