{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  RockJudge
{% end %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/main.less" type="text/less">
{% end %}

{% block scripts %}
  <script src="/static/js/admin.jsx" type="text/jsx;harmony=true"></script>
  <script type="text/jsx">
    React.render(
      <AdminUI
        competition_id={ {{competition_id}} } />,
      document.getElementById("content")
    );
  </script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
