{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  RockJudge
{% end %}

{% block defaultstyles %}{% end %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/admin.css">
  <link rel="stylesheet" href="/static/css/rules_sets/{{ rules_set }}.css">
{% end %}

{% block scripts %}
  <script src="/static/thirdparty/html-docx-js/html-docx.js"></script>
  <script>
    window.page_props = {
      competitionId: {{ competition_id }}
    };
  </script>
  <script src="/static/js/admin.js"></script>
  <script src="/static/js/rules_sets/{{ rules_set }}.js"></script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
