{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  RockJudge
{% end %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/admin.css">
  <link rel="stylesheet" href="/static/css/tour_admin.css">
  <link rel="stylesheet" href="/static/css/tour_results.css">
  <link rel="stylesheet" href="/static/css/discipline_results.css">
  <link rel="stylesheet" href="/static/css/manage_participants.css">
  <link rel="stylesheet" href="/static/css/start_list.css">
  <link rel="stylesheet" href="/static/css/competition_report.css">
{% end %}

{% block scripts %}
  <script src="/static/thirdparty/html-docx-js/filesaver.js"></script>
  <script src="/static/thirdparty/html-docx-js/html-docx.js"></script>
  <script>
    window.page_props = {
      competition_id: {{ competition_id }}
    };
  </script>
  <script src="/static/js/admin.js"></script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
