<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{% block title %}{% end %}</title>
  {% block styles %}{% end %}
</head>
<body>
  {% block body %}{% end %}
  <script src="/static/thirdparty/react/react.js"></script>
  <script src="/static/thirdparty/jquery/jquery.js"></script>
  <script src="/static/thirdparty/sockjs/sockjs.js"></script>
  <script src="/static/js/definitions.js"></script>
  <script src="/static/js/l10n/ru.js"></script>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/storage.js"></script>
  <script src="/static/js/message_dispatcher.js"></script>
  {% block scripts %}{% end %}
</body>
</html>
