{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  Competition report
{% end %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/discipline_results.css">
  <link rel="stylesheet" href="/static/css/competition_report.css">
{% end %}

{% block scripts %}
  <script src="/static/thirdparty/html-docx-js/filesaver.js"></script>
  <script src="/static/thirdparty/html-docx-js/html-docx.js"></script>
  <script src="/static/js/docx.js"></script>
  <script src="/static/js/scoring_systems/rosfarr/discipline_results.js"></script>
  <script src="/static/js/results/discipline_results.js"></script>
  <script src="/static/js/results/competition_report.js"></script>
  <script>
    React.render(
      React.createElement(CompetitionReport, { competition_id: {{ competition_id }} }),
      document.getElementById("content")
    );
  </script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
