{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  Connection tester
{% end %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/tablet.css">
{% end %}

{% block scripts %}
  <script src="/static/js/lib/tablet_controls.js"></script>
  <script src="/static/js/connection.js"></script>
  <script>
    React.render(
      React.createElement(ConnectionTester, {}),
      document.getElementById("content")
    );
  </script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
