{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  Judge tablet
{% end %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/judge.css">
  <link rel="stylesheet" href="/static/css/rules_sets/{{ rules_set }}.css">
{% end %}

{% block scripts %}
  <script>
    window.page_props = {
      judgeId: {{ judge_id }},
    };
  </script>
  <script src="/static/js/judge.js"></script>
  <script src="/static/js/rules_sets/{{ rules_set }}.js"></script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
