{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  Manage participants
{% end %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/manage_participants.css">
{% end %}

{% block scripts %}
  <script src="/static/js/manage_participants.js"></script>
  <script>
    ReactDOM.render(
      React.createElement(ParticipantsManager, { discipline_id: {{ discipline_id }} }),
      document.getElementById("content")
    );
  </script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
