{% extends "base.html" %}
-
{% autoescape None %}

{% block title %}
  Screen
{% end %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/screen.css">
  {% if manifest["styles"] %}
    <link rel="stylesheet" href="/media/screen/{{ manifest["styles"] }}">
  {% end %}
{% end %}

{% block scripts %}
  <script>
    window.page_props = {
      competitionId: {{ competition_id }},
      manifest: {{ manifest }}
    };
  </script>
  <script src="/static/js/screen.js"></script>
  <script src="/media/screen/{{ manifest["script"] }}"></script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
