{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  Judge tablet
{% end %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/tablet.less" type="text/less">
{% end %}

{% block scripts %}
  <script src="/static/js/tablet.jsx" type="text/jsx;harmony=true"></script>
  <script src="/static/js/lib/tablet_controls.jsx" type="text/jsx;harmony=true"></script>
  <script src="/static/js/scoring_systems/rosfarr_no_acro/tablet.jsx" type="text/jsx;harmony=true"></script>
  <script type="text/jsx">
    React.render(
      <JudgeTablet
        judge_id={ {{ judge_id }} }
        competition_id={ {{ competition_id }} } />,
      document.getElementById("content")
    );
  </script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
