{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  Tour control
{% end %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/tour_admin.css">
{% end %}

{% block scripts %}
  <script src="/static/thirdparty/html-docx-js/filesaver.js"></script>
  <script src="/static/thirdparty/html-docx-js/html-docx.js"></script>
  <script src="/static/js/docx.js"></script>
  <script src="/static/js/tour_admin.js"></script>
  <script src="/static/js/scoring_systems/rosfarr/no_acro/tour_admin.js"></script>
  <script>
    ReactDOM.render(
      React.createElement(TourAdminScoresTable, { tour_id: {{ tour_id }} }),
      document.getElementById("content")
    );
  </script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
