{% extends "base.html" %}

{% autoescape None %}

{% block title %}
  Tour control
{% end %}

{% block styles %}
  <link rel="stylesheet" href="/static/css/main.less" type="text/less">
  <link rel="stylesheet" href="/static/css/tour_admin.less" type="text/less">
{% end %}

{% block scripts %}
  <script src="/static/js/tour_admin.jsx" type="text/jsx;harmony=true"></script>
  <script src="/static/js/scoring_systems/rosfarr/no_acro/tour_admin.jsx" type="text/jsx;harmony=true"></script>
  <script src="/static/js/scoring_systems/rosfarr/no_acro/tour_results.jsx" type="text/jsx;harmony=true"></script>
  <script type="text/jsx">
    React.render(
      <TourAdminScoresTable
        tour_id={ {{ tour_id }} } />,
      document.getElementById("content")
    );
  </script>
{% end %}

{% block body %}
  <div id="content"></div>
{% end %}
