.ScoresTab {
    padding: 5px;
    table.scores-table {
        font-size: 12px;
        width: auto;
        max-width: 100%;
        box-sizing: border-box;
        > tbody > tr {
            > td, th {
                border: 1px solid black;
                padding: 1px 3px;
                &.number     { width: 50px;  }
                &.name       { width: 300px; }
                &.acrobatics { width: 120px; }
                &.heat       { width: 40px;  }
                &.judge      { width: 50px;  }
                &.total      { width: 120px; }
                &.status     { width: 60px; min-width: 60px; }
                &.actions    { width: 20px; }
            }
            > td {
                position: relative;
                &:not(.name) {
                    text-align: center;
                }
                &.heat, &.judge, &.acrobatics {
                    cursor: pointer;
                }
                &.confirmed-score {
                    background-color: @color-green;
                    font-weight: bold;
                    color: #fff;
                }
                &.judge.editing {
                    background-color: @color-contrast !important;
                }
                &.judge.no-score {
                    background-color: #999;
                }
                &.heat input {
                  width: 100%;
                  box-sizing: border-box;
                  height: 18px;
                  margin: -2px;
                  padding: 0;
                  border: 0;
                  text-align: center;
                }
                &.actions {
                    position: relative;
                    cursor: pointer;
                    &.opened {
                        background-color: @color-contrast;
                    }
                    > .menu {
                        color: @color-white;
                        position: absolute;
                        right: 50%;
                        top: 50%;
                        background-color: @color-medium;
                        z-index: 10;
                        padding: 10px;
                        width: 200px;
                        > .button {
                            .button-white();
                            display: block;
                            width: 100%;
                        }
                    }
                }
                &.status {
                    .status-controls {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                    input[type='radio'] {
                        margin: 2px;
                        cursor: pointer;
                        -webkit-appearance: none;
                        width: 14px;
                        height: 14px;
                        border: 1px solid darkgray;
                        border-radius: 50%;
                        outline: none;
                    }
                    input[type='radio']:before {
                        content: '';
                        display: block;
                        width: 50%;
                        height: 50%;
                        margin: 25% auto;
                        border-radius: 50%;
                    }
                    input[type='radio']:checked:before {
                      background: black;
                    }
                    .status-ok {
                        background-color: @color-green;
                    }
                    .status-np {
                        background-color: @color-yellow;
                    }
                    .status-dq {
                        background-color: @color-red;
                    }
                }
                &.acrobatics.editing {
                    background-color: @color-contrast;
                }
                .acrobatics-editor {
                    width: 630px;
                    color: @color-white;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background-color: @color-medium;
                    z-index: 10;
                    padding: 10px;
                    cursor: default;
                   .no-program {
                        margin: 10px 0 20px;
                        font-style: italic;
                    }
                    table {
                        margin-bottom: 10px;
                        width: 100%;
                    }
                    th {
                        color: @color-white;
                    }
                    td, th {
                        border: 0;
                        padding-left: 10px;
                        padding-right: 10px;
                        text-align: left;
                        vertical-align: middle;
                        input {
                            width: 50px;
                        }
                    }
                    tr:nth-child(even) {
                      background-color: lighten(@color-medium, 5%);
                    }
                    .description {
                        width: 350px;
                    }
                    .controls {
                        text-align: right;
                        .edit-button {
                            .button-white();
                            .button-small();
                            width: 85px;
                        }
                        .reset-button {
                            .button-white();
                            .button-small();
                            width: 50px;
                        }
                        input {
                            height: 18px;
                            border: none;
                            text-align: center;
                            width: 85px;
                            color: black;
                        }
                    }
                    .old-score, .new-score {
                        text-align: center;
                        width: 50px;
                    }
                    .acro-loader {
                        color: #000;
                        float: left;
                        > select {
                            width: 300px;
                            height: 30px;
                            vertical-align: top;
                        }
                        > button {
                            .button-white();
                            vertical-align: top;
                        }
                    }
                    .close-button {
                        .button-white();
                        float: right;
                    }
                }
            }
            > th {
                text-align: center;
                font-weight: bold;
            }
            &.odd-heat {
                background-color: lighten(@color-light, 10%);
                > td.confirmed-score {
                    background-color: darken(@color-green, 10%);
                }
            }
            &.not-performed {
                background-color: lighten(@color-yellow, 20%);
                &.odd-heat {
                    background-color: lighten(@color-yellow, 10%);
                }
            }
            &.disqualified {
                background-color: lighten(@color-red, 20%);
                &.odd-heat {
                    background-color: lighten(@color-red, 10%);
                }
            }
        }
    }
}
