aiopg==0.15.0
altgraph==0.16.1
appdirs==1.4.3
attrs==18.2.0
black==18.9b0
Click==7.0
Cython==0.29.2
future==0.17.1
macholib==1.11
pefile==2018.8.8
psycopg2==2.7.6.1
pyasn1==0.4.4
pycryptodome==3.7.2
PyInstaller==3.4
pywin32-ctypes==0.2.0
rsa==4.0
SQLAlchemy==1.2.15
toml==0.10.0
tornado==5.1.1
windows-curses==1.0
